
*{
  font-family: 'IRANSans' ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: #fafafa;
  direction: rtl;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

a,a:hover{
  text-decoration:none;
}

h1,h2,h3{
	font-weight: 500;
  line-height: 3;
}
p{
  line-height: 2;
}

section{
  position: relative;
}


span#whatis,
span#HowToWork,
span#services,
span#startbuy,
span#selecthearts,
span#products,
span#aboutus{
  position: absolute;
  top: -50px;
}

.wrapper{
	position: relative;
	max-width: 1199px;
	margin: 0 auto;
}
.allgift .wrapper{
  overflow: hidden;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
 
::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 2px 0px #888 inset;
    -moz-box-shadow:0px 0px 2px 0px #888 inset;
    box-shadow:0px 0px 2px 0px #888 inset;
}
 
::-webkit-scrollbar-thumb {
    background-color: #afb7d0;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 2px 0px #666 inset;
    -moz-box-shadow:0px 0px 2px 0px #666 inset;
    box-shadow:0px 0px 2px 0px #666 inset;
}

/*=========================================*/

  /*responsive*/
    .row:after,.row:before{
      clear: both;
      content: " ";
      display: table;
    }

    @media (min-width: 970px) {


        .col-md-1{
          width: 8.333333%;
          float: right;
        }
        .col-md-offset-1{
          margin-right: 8.333333%;
        }

        .col-md-2{
          width: 16.666666%;
          float: right;
        }
        .col-md-offset-2{
          margin-right: 16.666666%;
        }

        .col-md-5x{
          width: 20%;
          float: right;
        }

        .col-md-3{
          width: 25%;
          float: right;
        }
        .col-md-offset-3{
          margin-right: 25%;
        }
        .col-md-4{
          width: 33.333333%;
          float: right;
        }
        .col-md-offset-4{
          margin-right: 33.333333%;
        }

        .col-md-offset-for-5{
          margin-right: 29.166666%;
        }

        .col-md-5{
          width: 41.666666%;
          float: right;
        }

        .col-md-6{
          width: 50%;
          float: right;
        }

        .col-md-7{
          width: 58.333333%;
          float: right;
        }
        .col-md-8{
          width: 66.666666%;
          float: right;
        }
        .col-md-9{
          width: 75%;
          float: right;
        }
        .col-md-10{
          width: 83.333333%;
          float: right;
        }
        .col-md-11{
          width: 91.666666%;
          float: right;
        }
        .col-md-12{
          width: 100%;
          float: right;
          /*overflow: auto;*/
        }

     }

    @media (max-width: 969px) {

        .col-sm-1{
          width: 8.333333%;
          float: right;
        }
        .col-sm-offset-1{
          margin-right: 8.333333%;
        }

        .col-sm-2{
          width: 16.666666%;
          float: right;
        }
        .col-sm-offset-2{
          margin-right: 16.666666%;
        }

        .col-sm-5x{
          width: 20%;
          float: right;
        }

        .col-sm-3{
          width: 25%;
          float: right;
        }
        .col-sm-offset-3{
          margin-right: 25%;
        }
        .col-sm-4{
          width: 33.333333%;
          float: right;
        }
        .col-sm-offset-4{
          margin-right: 33.333333%;
        }

        .col-sm-5{
          width: 41.666666%;
          float: right;
        }

        .col-sm-6{
          width: 50%;
          float: right;
        }

        .col-sm-7{
          width: 58.333333%;
          float: right;
        }
        .col-sm-8{
          width: 66.666666%;
          float: right;
        }
        .col-sm-9{
          width: 75%;
          float: right;
        }
        .col-sm-10{
          width: 83.333333%;
          float: right;
        }
        .col-sm-11{
          width: 91.666666%;
          float: right;
        }
        .col-sm-12{
          width: 100%;
          float: right;
          /*overflow: auto;*/
        }

        /*.about-title{
          font-size: 40px !important;
        }*/

     }

    @media (max-width: 768px) {

        .col-xs-offset-0{
          margin-right: 0%;
        }

        .col-xs-0{
          width: 0%;
          display: none;
          float: right;
        }

        .col-xs-1{
          width: 8.333333%;
          float: right;
        }
        .col-xs-offset-1{
          margin-right: 8.333333%;
        }

        .col-xs-2{
          width: 16.666666%;
          float: right;
        }
        .col-xs-offset-2{
          margin-right: 16.666666%;
        }

        .col-xs-5x{
          width: 20%;
          float: right;
        }

        .col-xs-3{
          width: 25%;
          float: right;
        }
        .col-xs-offset-3{
          margin-right: 25%;
        }
        .col-xs-4{
          width: 33.333333%;
          float: right;
        }
        .col-xs-offset-4{
          margin-right: 33.333333%;
        }

        .col-xs-5{
          width: 41.666666%;
          float: right;
        }

        .col-xs-6{
          width: 50%;
          float: right;
        }

        .col-xs-7{
          width: 58.333333%;
          float: right;
        }
        .col-xs-8{
          width: 66.666666%;
          float: right;
        }
        .col-xs-9{
          width: 75%;
          float: right;
        }
        .col-xs-10{
          width: 83.333333%;
          float: right;
        }
        .col-xs-11{
          width: 91.666666%;
          float: right;
        }
        .col-xs-12{
          width: 100%;
          float: right;
          /*overflow: auto;*/
        }

        .footer-page{
        	text-align: center;
        }

        .div-range-holder{
				  width: 70% !important;
				}

     }

    @media (max-width: 576px) {
        .xxs-margin-0,
        .col-xxs-offset-0{
          margin-right: 0;
        }
        .col-xxs-0{
          width: 0%;
          display: none;
          float: right;
        }
        .col-xxs-1{
          width: 8.333333%;
          float: right;
        }
        .col-xxs-offset-1{
          margin-right: 8.333333%;
        }

        .col-xxs-2{
          width: 16.666666%;
          float: right;
        }
        .col-xxs-offset-2{
          margin-right: 16.666666%;
        }

        .col-xxs-5x{
          width: 20%;
          float: right;
        }

        .col-xxs-3{
          width: 25%;
          float: right;
        }
        .col-xxs-offset-3{
          margin-right: 25%;
        }
        .col-xxs-4{
          width: 33.333333%;
          float: right;
        }
        .col-xxs-offset-4{
          margin-right: 33.333333%;
        }

        .col-xxs-5{
          width: 41.666666%;
          float: right;
        }

        .col-xxs-6{
          width: 50%;
          float: right;
        }
        .col-xxs-7{
          width: 58.333333%;
          float: right;
        }
        .col-xxs-8{
          width: 66.666666%;
          float: right;
        }
        .col-xxs-9{
          width: 75%;
          float: right;
        }
        .col-xxs-10{
          width: 83.333333%;
          float: right;
        }
        .col-xxs-11{
          width: 91.666666%;
          float: right;
        }
        .col-xxs-12{
          width: 100%;
          float: right;
          /*overflow: auto;*/
        }

        .panel-body{
          padding: 10px 0 !important;
        }

        .contactus-main,
        .contactus-header p{
          font-size: 12px !important;
        }

        .contactus-main address{
          padding: 10px !important;
        }

        .div-range-holder{
				  width: 100% !important;
  				margin: 10px auto !important;
				}

				.div-range-after {
				    float: none !important;
				    text-align: center !important;
				}

        .btn-2{
          font-size: 12px !important;
        }

     }

  /*classes*/
    .center{text-align: center !important;}
    .right{text-align: right;}
    .left{text-align: left;}
    .no-float{float: none !important;}
    .rfloat{float: right !important;}
    .lfloat{float: left !important;}
    .clear{clear: both;}
    .wide{width: 100% !important;}
    .half{width: 48% !important;}
    .inline{display: inline-block !important;}
    .block{display: block !important;}
    .xpad{
      padding-right: 10px !important;
      padding-left: 10px !important;
    }
    .ypad{
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    .rpad{
      padding-right: 20px;
    }
    .lpad{
      padding-left: 20px;
    }
    .zpad{
      padding: 10px;
    }
    .xmargin{
      margin-right: 10px !important;
      margin-left: 10px !important;
    }
    .ymargin{
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    .img-responsive{
      width: 100%;
      height: auto;
      vertical-align: top;
    }
    .img-max{
      max-width: 400px;
    }
    .margin-o{
      margin: 0;
    }
    .bold{
      font-weight: bold !important;
    }

    .ul-inline li{
      display: inline-block;
      position: relative;
    }

    .ltr-dir{
      direction: ltr !important;
    }

    .num-fa{
      font-family: 'BKoodkBd'
    }

/*buttons*/
  .btn-1{
    display: inline-block;
      padding: 8px 20px;
      border: 1px solid #9d0668;
      border-radius: 3px;
      background-color: transparent;
      color: #9d0668;
      transition: all .25s ease-in-out;
      font-size: 14px;
    }
    .btn-1:hover {
      background-color: #9d0668;
      color: #fff;
      cursor: pointer;

    }

  .btn-2{
    display: inline-block;
    border: 1px solid rgba(93, 206, 253, 0);
    color: #9d0668;
    /*margin-top: 30px;*/
    outline: 1px solid;
    outline-color: #9d0668;
    outline-offset: 0px;
    text-shadow: none;
    padding: 8px 20px;
    font-size: 14px;
  }

  .btn-2:hover {
    border: 1px solid #9d0668;/*#e9c0e8*/
    outline-color: rgba(93, 206, 253, 0);
    outline-offset: 15px;
    -webkit-transition:  1300ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #9d0668;
    color: #fff;
    transition:  1300ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn-3{
    display: inline-block;
    border: 1px solid rgba(93, 206, 253, 0);
    color: #fafafa;
    /*margin-top: 30px;*/
    outline: 1px solid;
    outline-color: #fafafa;
    outline-offset: 0px;
    text-shadow: none;
    padding: 10px 20px;
    font-size: 14px;
    /* display: block; */
  }

  .btn-3:hover {
    border: 1px solid #fafafa;
    outline-color: rgba(93, 206, 253, 0);
    outline-offset: 15px;
    -webkit-transition:  1300ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #fafafa;
    color: #9d0668;/*#e9c0e8*/
    transition:  1300ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .btn-plus{
      display: inline-block;
      padding: 8px 20px;
      border: 0;
      border-radius: 3px;
      background-color: #9d0668;
      color: #fff;
      transition: all .25s ease-in-out;
      font-size: 14px;
    }
    .btn-plus:hover {
      background-color: #ca0d87;
      cursor: pointer;
    }



/*kadr*/
    .kadr-red-white {
      border: 1px solid #ddd;
      border-right: 4px solid #F44336;
      padding: 10px;
      background-color: #fafafa;
      line-height: 2;
      margin: 10px 0;
    }
    .kadr-blue-grey{
      background: #dddddd;
      padding: 10px 20px;
      border-right: 4px solid #2196F3;
      margin: 20px 0;
    }
    .kadr-blue-white{
      border: 1px solid #d7d7d7;
      border-right: 4px solid #2196F3;
      padding: 10px;
      background-color: #fafafa;
      line-height: 2;
      margin: 10px 0;
    }
    .link-kadr-blue-white{
      border: 1px solid #d7d7d7;
      border-right: 4px solid #2196F3;
      background-color: #fafafa;
      line-height: 3;
      margin: 10px 0;
    }
    .link-kadr-blue-white a{
      display: block;
      padding: 10px;
    }

    .kadr-blue_white{
      border: 1px solid #ddd;
      border-right: 4px solid #2196F3;
      padding: 20px;
      background-color: #fff;
      line-height: 2;
      margin: 10px 0;
      box-shadow: 0px 0px 4px 0px #eaeaea;
      text-align: justify;
    }

    .description-kadr{
      padding: 10px;
    }

/*panels*/
    .panel{
      margin: 20px auto;
      background-color: #fafafa;
      margin-bottom: 20px;
      border-radius: 5px;
      -webkit-box-shadow:0px 0px 5px 1px #cccccc ;
      -moz-box-shadow:0px 0px 5px 1px #cccccc ;
      box-shadow:0px 0px 5px 1px #cccccc ;
    }
    .panel-header{
      background: #f5f5f5;
      border-bottom:  1px solid #ddd;
      /*height: 50px;*/
      font-size: 16px;
      padding: 10px 20px;
      color: #777;
      font-weight: 500;
    }

    .panel-header h2{
      line-height: 2;
      font-size: 18px;
    }
    .panel-body{
      padding: 10px 20px;
      font-size: 14px;
      min-height: 50px;
      background-color: #fff;
    }
    .panel-footer{
      border-top:  1px solid #ddd;
      min-height: 50px;
      font-size: 16px;
      padding: 10px 20px;
    }
    .panel-top-border{
      border-top: 4px solid #ccc;
    }
  
 /*tabs*/
    /* Style the tab */
    .tab {
        overflow: hidden;
    }
    .tab-header{
      padding: 0 !important;
      border-bottom: 0;
      -webkit-box-shadow:0px -6px 6px -6px #cccccc inset;
      -moz-box-shadow:0px -6px 6px -6px #cccccc inset;
      box-shadow:0px -6px 6px -6px #cccccc inset;
    }

    .left-tab{
      float: left;
    }

    /* Style the buttons inside the tab */
    .tab button {
        border: 0;
        border-top: 2px solid transparent;
        padding: 15px 20px;
        outline: 0;
        background-color: transparent;
        cursor: pointer;
        float: right;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #eee;
    }

    /* Create an active/current tablink class */
    .tab button.active {
      border-top: 4px solid #9d0668;
      background-color: #fff;
      color: #9d0668;
      -webkit-box-shadow:0px 0px 7px 0px #cccccc ;
      -moz-box-shadow:0px 0px 7px 0px #cccccc ;
      box-shadow:0px 0px 7px 0px #cccccc ;
    }

    /* Style the tab content */
    .tabcontent,.box2tabcontent,.box3tabcontent {
        display: none;
        padding: 6px 12px;
        /*border: 1px solid #ccc;*/
        border-top: none;
        color: #aaa;
        text-align: right;
    }

    .tabcontent-item{
      border-bottom: 1px solid #aaa;
    }
    .tabcontent-date-item{
      float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background: #fff;
    }
 
/*modals*/


  .preview-btn{
    /*position: relative;*/
    /*width: 90px;*/
    /*height: 34px;*/
    overflow: hidden;
    /*padding: 0px 0px;*/
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
  }

  #myImg:hover {opacity: 0;}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1000000; /* Sit on top */
      /*padding-top: 100px;*/ /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal>div.modal-content{
    margin: auto;
    display: block;
    width: 64%;
    padding-top: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #fff;
    overflow: hidden;
  }

  .modal-content-img{
    width: 100%;
    min-height: 100%; 
    position: absolute;
    top: 0;
  }

  /* Modal Content (image) */
  .modal-content {
      margin: auto;
      display: block;
      width: 100%;
      /*max-width: 700px;*/
  }

  /* Caption of Modal Image */
  #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      color: #fff;
      padding: 10px 0;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: 24px;
      font-weight: bold;
  }

  /* Add Animation */
  .modal-content {    
      -webkit-animation-name: zoomit;
      -webkit-animation-duration: 0.6s;
      animation-name: zoomit;
      animation-duration: 0.6s;
  }

   #caption {    
      -webkit-animation-name: zoomit;
      -webkit-animation-duration: 0.6s;
      animation-name: zoomit;
      animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
  }

   @-webkit-keyframes zoomit {
      from {-webkit-transform: translateY(-50%) scale(0)} 
      to {-webkit-transform: translateY(-50%) scale(1)}
  }

  @keyframes zoomit {
      from {transform: translateY(-50%) scale(0)} 
      to {transform: translateY(-50%) scale(1)}
  }


  /* The Close Button */
  .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
  }

  .close:hover,
  .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
      .modal-content {
          width: 100%;
      }
  }

/* accordion*/

    button.accordion {
        background-color: rgba(93, 206, 253, 0);
        color: #e2a0e1;
        cursor: pointer;
        padding: 14px;
        width: 100%;
        border: 0;
        border-bottom: 1px solid;
        text-align: right;
        outline: none;
        font-size: 14px;
        transition: 0.4s;
        margin-top: 5px;
    }

    button.accordion.active, button.accordion:hover,
    button.accordion:hover:after,button.accordion.active:after  {
        color: #615061;
    }

    button.accordion:after {
        content: '\002B';
        color: #e3a0e1;
        font-weight: bold;
        float: left;
        margin-left: 5px;
        transition: 0.4s;
    }

    button.accordion.active:after {
        content: "\2212";
    }

    div.accordionPanel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

/*forms*/
  .label-form{
      font-size: 14px;
      font-weight: 300;
      display: inline-block;
      margin-bottom: 5px;
      line-height: 2;
      color: #444;
      padding: 0 5px 0 15px;
    }
  .input{
    margin-bottom: 20px;
  }
    .input-form , .textarea-form{
      font-weight: 300;
      border-radius: 5px;
      border: 1px solid #ddd;
      background-color: #fcfcfc;
      padding: 5px 10px;
      transition: all .4s;
      display: inline-block;
      margin-bottom: 14px;
    }
    .input-form:focus,.textarea-form:focus{
      outline: none;
      border: 1px solid #9c0668;
      -webkit-box-shadow: 0px 0px 6px -2px #d3a;
      -moz-box-shadow: 0px 0px 6px -2px #d3a;
      box-shadow: 0px 0px 6px -2px #d3a;
    }

    .input-num{
      max-width: 100px;
    }

/*tables*/
    table {
      width:100%;
    }
    table, th, td {
      border-collapse: collapse;
      text-align: right;
    }
    th, td {
      padding: 7px;
      font-size: 14px;
      border: 1px solid #eee;
    }

    .table-style{
      -webkit-box-shadow:0px 0px 4px 0px #dddddd ;
      -moz-box-shadow:0px 0px 4px 0px #dddddd ;
      box-shadow:0px 0px 4px 0px #dddddd ;
      border-radius: 4px;
    }
    thead{
      background-color: #F5F5F5;
    }
    .row-table{
      overflow: auto;
    }

/*breadcrumb*/
    .breadcrump_holder {
      position: relative;
      width: 80%;
      margin: 12px auto 25px;
      height: 50px;
    }
    .breadcrumb {
      margin: 0;
      padding: 0;
      counter-reset: step;
    }
    .breadcrumb li {
      position: relative;
      list-style-type: none;
      width: 25%;
      float: right;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
    }
    .breadcrumb li a {
      color: #7d7d7d;
    }
    .breadcrumb li:before {
      width: 35px;
      height: 35px;
      /* content: counter(step); */
      /* counter-increment: step; */
      content: '';
      line-height: 35px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
    }
    .breadcrumb li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 19px;
      right: -50%;
      z-index: -1;
    }
    .breadcrumb li:first-child:after {
      content: none;
    }
    .breadcrumb li.active,
    .breadcrumb li.active a {
      color: #9d0668;
    }
    .breadcrumb li.active:before {
      border-color: #9d0668;
    }
    .breadcrumb li.active:after {
      background-color: #9d0668;
    }

    .breadcrumb li.actived:after{
      background:-webkit-linear-gradient(-90deg, rgb(157, 6, 104) 0%, rgb(221, 84, 173) 50%);
      background:-o-linear-gradient(-90deg, rgb(157, 6, 104) 0%, rgb(221, 84, 173) 50%);
      background:-moz-linear-gradient(-90deg, rgb(157, 6, 104) 0%, rgb(221, 84, 173) 50%);
      background:linear-gradient(-90deg, rgb(157, 6, 104) 0%, rgb(221, 84, 173) 50%);
    }

    .breadcrumb li.actived:before{
      border-color: #e14ead;
    }

    .breadcrumb li.actived, .breadcrumb li.actived a {
      color: #e14ead;
      font-weight: bold;
    }

    .breadcrumb i.fa{
      position: absolute;
      top: 1px;
      right: 50%;
      transform: translateX(50%);
      font-size: 16px;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
    }

    @media(max-width:768px){
      .breadcrump_holder {
          width: 100%;
      }
    }

    .breadcrump-arrow-right,
    .breadcrump-arrow-left{
      position: absolute;
      top: 4px;
      z-index: 10;
      color: #777;
      transition: .4s;
      font-size: 14px;
      padding-top: 4px;
    }

    .breadcrump-arrow-right:hover,
    .breadcrump-arrow-left:hover{
      color: #e14ead;
    }

    .breadcrump-arrow-right i,
    .breadcrump-arrow-left i{
     padding: 0 10px;
     font-size: 20px !important;
     vertical-align: top;
    }

    .breadcrump-arrow-right,{
      right: 0;
    }
    .breadcrump-arrow-left{
      left: 0;
    }

/*slider*/

  /*owl slider*/
    .divSlider{
      min-height: 400px;
    }

    .owl-carousel{
      -webkit-box-shadow: 0px 10px 20px -10px rgba(17, 17, 17, 0.5);
      -moz-box-shadow: 0px 10px 20px -10px rgba(17, 17, 17, 0.5);
      box-shadow: 0px 10px 20px -10px rgba(17, 17, 17, 0.5);
      background-color: #fff;
      /*min-height: 400px;*/
    }

    .customize .container>h2{
        text-align: center;
        color:#9d0668;
    }
    .one.owl-carousel img{
      height: 100vh;
      min-height: 400px;
    }


    .item span.slide-item{
      position: relative;
      display: block;
      background-color: #aaa;
      width: 100%;
      height: 100vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: calc( 100vh - 90px );
      min-height: 400px;
    }

    .item span.slide-item.slide1{
      background-image: url(../img/slider/Final-Pazzle.jpg);
    }
    .item span.slide-item.slide2{
      background-image: url(../img/slider/a1.jpg);
    }
    .item span.slide-item.slide3{
      background-image: url(../img/slider/a2.jpg);
    }

    .item span.slide-item .owl-slide-txt{
  	padding: 20px 40px;
		position: absolute;
		bottom: 50%;
		left: 20%;
		transform: translate(-50%,50%);
    }

    .owl-carousel .owl-prev,
    .owl-carousel .owl-next{
      position: absolute;
      top: 50%;
      margin-top: -23px;
      font-size: 14px;
      width: 45px;
      height: 45px;
      text-align: center;
      /* border: 1px solid #fff; */
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.59);
      line-height: 47px;
    }
    .owl-prev{
      left: 30px;
    }
    .owl-next{
      right: 30px;
    }

    .four.owl-carousel .owl-prev,
    .four.owl-carousel .owl-next{
      font-size: 32px;
      text-align: center;
      border: 0;
      background: transparent;

    }

    .four .owl-prev{
      left: 0px;
    }
    .four .owl-next{
      right: 0px;
    }

    .four.owl-carousel{
      -webkit-box-shadow: 0px 4px 15px -2px #ccc; ;
      -moz-box-shadow: 0px 4px 15px -2px #ccc; ;
      box-shadow: 0px 4px 15px -2px #ccc; ;
      margin-bottom: 20px;
    }

    .four .owl-item,
    .four.owl-carousel img{
      padding: 10px;
      text-align: center;
    }

    .four.owl-carousel img{
      max-height: 250px;
      width: 60%;
      display: inline-block;
    }

  /* Mighty Slider*/
      #example {
          position: relative;
          overflow: hidden;
          /*margin-top: 61px;*/
          background: transparent;
      }
      #example .frame {
          position: relative;
          width: 100%;
          padding: 20px 70px;
          padding-bottom: 30px;
      }
      #example .frame .slide_element {
          height: 100%;
      }
      #example .frame .slide_element .slide {
          float: left;
          height: 100%;
          margin: 0 -350px;
          opacity: 0;
          background: #000;
          z-index: 5;
          border-radius: 30px;

          -webkit-transform: scale(0.7);
          transform: scale(0.7);

          -webkit-transition: -webkit-transform 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
          -webkit-transition-property: opacity, -webkit-transform;
          transition: transform 1500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
          transition-property: opacity, transform;
      }
      #example .frame .slide_element .slide.next_1,
      #example .frame .slide_element .slide.prev_1 {
          opacity: 0.7;
          z-index: 9;

          -webkit-transform: scale(0.9);
          transform: scale(0.9);
      }
      #example .frame .slide_element .slide.next_2,
      #example .frame .slide_element .slide.prev_2 {
          opacity: 0.4;
          z-index: 8;

          -webkit-transform: scale(0.8);
          transform: scale(0.8);
      }
      #example .frame .slide_element .slide.active {
          opacity: 1;
          z-index: 10;

          -webkit-transform: scale(1);
          transform: scale(1);
      }
      #example #progress {
          position: absolute;
          border-radius: 50%;
          margin: auto;
          bottom: -40px;
          left: 0;
          right: 0;

          -webkit-transform: scale(0.5);
          transform: scale(0.5);
      }
      #example #thumbnails {
          display: block;
          text-align: center;
          height: 80px;
      }
      #example #thumbnails > div {
          height: 100%;
          width: 100%;
      }
      #example #thumbnails > div > ul {
          list-style: none;
          margin: 0;
          padding: 0;
          height: 100%;
      }
      #example #thumbnails > div > ul > li {
          width: 80px;
          height: 80px;
          margin: 0 5px;
          cursor: pointer;
          padding: 3px;
          border: 4px transparent solid;
          border-radius: 50%;
          opacity: 0.6;
      }
      #example #thumbnails > div > ul > li img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
      }
      #example #thumbnails > div > ul > li.active {
          opacity: 1;
      }
      #example .mSButtons.mSPrev {
          left: 15%;
          right: auto;
          bottom: 30px;
      }
      #example .mSButtons.mSNext {
          right: 15%;
          left: auto;
          bottom: 30px;
      }
      #example.isTouch .mSButtons {
          display: none;
      }
      #example .mSCaption {
          left: 20px;
          bottom: 40px;
          font-size: 18px;
          line-height: normal;
          font-weight: 300;
          color: #000;
          opacity: 0;
          letter-spacing: -1px;
          white-space: nowrap;
          text-transform: uppercase;
          z-index: 1002;

          -webkit-transition: all 0.3s;
          transition: all 0.3s;
      }
      #example .mSCaption.showed {
          bottom: 20px;
          opacity: 1;
      }


    /*.mightyslider_carouselCoverFlow_skin{
      direction: ltr;
    }*/

/*header*/
  .top-header{
    text-align: center;
    background: url(../img/photo_1.jpg);
    background-size: 400px;
    -webkit-box-shadow: 0px 0px 5px 3px #eaeaea;
    -moz-box-shadow: 0px 0px 5px 3px #eaeaea;
    box-shadow: 0px 0px 5px 3px #eaeaea;
    border: 1px solid #eee;
    transition: .2s;
    margin-bottom: 10px;
    /* background-attachment: fixed; */
    /* background-position: top center; */
    text-shadow: -2px 3px 3px #ccc;
  }
  .top-header a{
    color: #9d0668;
    transition: .2s;
    display: block;
    -webkit-box-shadow: 0px 0px 50px 300000px rgba(255, 255, 255, 0.4) inset;
    -moz-box-shadow: 0px 0px 50px 300000px rgba(255, 255, 255, 0.4) inset;
    box-shadow: 0px 0px 50px 300000px rgba(255, 255, 255, 0.4) inset;
  }

  /*.top-header:hover{
    -webkit-box-shadow: 0px 0px 50px 300000px rgba(240, 240, 240, 0.6) inset;
    -moz-box-shadow: 0px 0px 50px 300000px rgba(240, 240, 240, 0.6) inset;
    box-shadow: 0px 0px 50px 300000px rgba(0, 0, 240, 0.1) inset;
  }

  .top-header:hover a{
    color: #e14ead;
  }*/

  /*navbar*/
    .fixnav{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 999999;
      width: 100%;
      background-color: rgba(38, 50, 56, 0.9);
      transition: all .7s;
      margin-top: 0px ;
      height: 50px;
      padding: 3px 0;
      border-bottom:1px solid #aaa;
    }

    .navbar{
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      z-index: 999999;
      padding: 10px 0;
      display: block;
      margin-top: 0px ;
      transition: all .7s;
    }

  	nav li{
  		display: inline-block;
  	}
  	
  	.navbar li:hover span{
  		transform: scaleX(1);
  		transition: all .4s;
  	}
  	.navbar li:hover a{
  		color: #fff;
  	}

  	nav ul{
  			margin-right:0;
  			display: inline;
  	}

    .res_menu{
      height: 35px;
      width: 35px;
      text-align: center;
      border:1px solid #fff;
      border-radius:3px;
      display: inline-block;
      font-size: 18px;
      color:#fff;
      text-decoration:none;
      line-height: 35px;
      display: none;
    }

  	nav li a{
  			display: block;
  			padding: 10px;
  			color: #eee;
        font-size:14px;
  	}

  	ul.left{
  		position: absolute;
  		left: 10px;
  	}

  	/*.border{
  		display: block;
  		border-bottom: 1px solid #fff;
  		margin: 0 8px;
  		transform: scaleX(0);
  	}*/

    .nav-links{
      float: left;
    }

  @media(max-width:1024px){
    nav li a{
      padding: 10px 7px;
      font-size: 14px;
    }
  }

  @media(max-width:992px){
    nav li a{
      padding: 10px 5px;
      font-size: 13px;
    }
  }

  @media(max-width:895px){
    nav li a{
      padding: 10px;
      font-size: 14px;
    }
    nav ul{
      display: block;
      margin: 15px;
    }

    nav{
      text-align: center;
    }

    .res_menu{
      display: inline-block;
    }

    nav ul li{
      display: block;
    }

    nav ul{
      background-color:rgba(255,255,255,.3);
      border-radius: 5px;
      display: none;
    }

    nav.fixnav ul{
      background-color: rgba(38, 50, 56, 0.9);
    }

    .nav-links{
      float: none;
    }

    .middle_nav>nav.fixnav a {
      color: #f5f5f5;
    }
  }

/*content*/

  .content{
    min-height: calc(100vh - 745px);
  }

  .HowToWork,
  .services .wrapper,
  .products,.select-gift-card{
    padding: 50px 0;
  }

  .fasearch{
    display: inline-block;
    width: 80px;
    height: 62px;
    background-image: url(../img/search.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  /*whatis*/
    .whatis{
      height: 600px;
      min-height: 100vh;
    }
    .whatis .bg{
      width: 100%;
      height: 100%;
      background: #fff url(../img/iPad4wa.jpg) right center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: top center;
      /*background-attachment: fixed;*/
    }

    .div-mob{
      position: relative;
    }

    .whatis-title{
      color: #f2f0f0;
      line-height: 2;
      padding-top: 20px;
      font-size: 32px;
    }


  /*HowToWork*/
    .HowToWork i.fa{
      font-size: 72px;
      color: #9d0668;
    }

    .HowToWork h2{
      color: rgba(80,91,97, 1);
    }

    .HowToWork p{
      font-weight: 300;
      color: rgba(80,91,97, 1);
    }

  /*Services*/
    .services{
      height: 400px;
      background-color: rgba(0,0,0,.9);
      color: #dadada;
    }

    .services .bg{
      width: 100%;
      height: 100%;
      background: #fff url(../img/photo2.jpg) center center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
    }

    .services h2{
      padding: 30px;
    }
    .services p{
      padding: 5px;
    }

    .bg-color{
      background-color: rgba(17, 17, 17, 0.5);
      height: 100%;
    }

  /*aboutus*/
    .aboutus{
      height: 600px;
      background-color: rgba(0,0,0,.9);
      color: #dadada;
    }

    .aboutus .bg{
      width: 100%;
      height: 100%;
      background: #fff url(../img/Roses_Wood.jpg) center center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      /*background-attachment: fixed;*/
    }

    .aboutus .bg-color{
      background-color: rgba(17, 17, 17, 0.1);
      height: 100%;
    }


  /*footer*/

    .footer-page{
      background-color: #292d35;
      /*color: #484d56;*/
      color: #696e77;
    }

    .main-footer{

    }

    .main-footer h2{
      color: #eee;
    }

    .main-footer a{
      color: #696e77;
      transition: .2s;
    }

    .main-footer a:hover{
      color: #eee;
    }

    .main-footer{
      line-height: 2;
    }

    .main-footer img{
      width: 100%;
      max-width: 180px;
      height: auto;
      padding: 10px;
    }

    .footer-icons li{
      padding: 5px;
    }

    .footer-icons a{
      font-size: 32px;
    }

    .bottom-footer{
      color: #676e77;
      padding: 0px 30px;
    }

    .bottom-footer p{
      border-top: 1px solid #373c46;
      padding: 10px 0;
    }


    .grid-Equal{
      height: 300px;
      position: relative;
      overflow: hidden;
    }
    .ge-img1{
      background: url(../img/challenge_1.jpg);
    }
    .ge-img2{
      background: url(../img/challenge_2.jpg);
    }
    .ge-img3{
      background: url(../img/challenge_3.jpg);
    }
    .ge-img4{
      background: url(../img/challenge_5.jpg);
    }
    .ge-img1,.ge-img2,
    .ge-img3,.ge-img4{
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: .5s;
      border-radius: 5px;
    }

    .se-grid-Equal{
      height: 100vh;
      max-height: 500px;
      position: relative;
      overflow: hidden;
    }

    .se-img1{
      background: url(../img/1.jpg);
    }
    .se-img2{
      background: url(../img/2.jpg);
    }
    .se-img3{
      background: url(../img/3.jpg);
    }
    .se-img4{
      background: url(../img/4.jpg);
    }
    .se-img1,.se-img2,
    .se-img3,.se-img4{
      width: 100%;
      height: 100%;
      background-position: center bottom;
      background-size: cover;
      background-repeat: no-repeat;
      transition: .5s;
      border-radius: 5px;
    }

    .eid-grid-Equal {
        height: 200px;
        position: relative;
        overflow: hidden;
    }

    .eid-img p.text{
        background: rgba(17, 17, 17, 0.3);
        padding: 20px 25px;
        border-radius: 5px;
    }

    .eid-img1{
      background-image: url(../img/Noruz.jpg);
    }

    .eid-img2{
      background-image: url(../img/fetr1.jpg);
    }

    .eid-img3{
      background-image: url(../img/ghadir.jpg);
    }

    .eid-img4{
      background-image: url(../img/gol.jpg);
    }

    .eid-img1,.eid-img2,
    .eid-img3,.eid-img4{
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: .5s;
      border-radius: 5px;
    }

    .w-img-age{
      background: url(../img/wmanpng.png);
    }
    .m-img-age{
      background: url(../img/manpng.png);
    }
    .m-img-age,.w-img-age{
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: .5s;
      border-radius: 5px;
    }



    .grid-vertical-rectangle{
      height: 600px;
      position: relative;
      overflow: hidden;
    }

    .gvr-img1{
      width: 100%;
      height: 100%;
      background: url(../img/Large4.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
    }

    .gvr-purple,.gvr-grey{
      width: 100%;
      height: 20%;
      background-color: #ccc;
    }

    .gvr-purple{
      background-color: #9d0668;
    }

    .grid-vertical-rectangle:hover .overlay,
    .grid-Equal:hover .overlay,
    .se-grid-Equal:hover .overlay {
      width: calc(100% - 20px);
    }

    .overlay {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 10px;
      background-color: rgba(0, 0, 0, 0.6);
      overflow: hidden;
      width: 0;
      height: calc(100% - 20px);
      transition: .5s ease;
      border-radius: 5px;
    }


    .overlay-fade {
      position: absolute;
      top: 10px;
      bottom: 0;
      left: 0;
      right: 10px;
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(1, 1, 1, 0.7);
      border-radius: 5px;
    }

    .eid-grid-Equal .overlay-fade{
      background-color: rgba(157, 6, 104, 0.9)
      /*#e9c0e8; #9d0668*/
    }

    .eid-grid-Equal:hover .overlay-fade {
      opacity: 1;
    }
    .grid-Equal:hover .overlay-fade,
    .grid-vertical-rectangle:hover .overlay-fade {
      opacity: 1;
    }

    .text {
      white-space: nowrap; 
      color: white;
      /*font-size: 20px;*/
      position: absolute;
      /*overflow: hidden;*/
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      line-height: 2;
    }

     .text a{
      color: white;
     }

    @keyframes zoomInner {
      from {
        opacity: 0;
        transform: translate(-50%, -50%) scale3d(.3, .3, .3);
      }

      50% {
        opacity: 1;
      }
    }

    .zoomInner {
      animation-name: zoomInner;
    }

    .grid-Equal:hover .overlay-fade .text,
    .grid-vertical-rectangle:hover .overlay-fade .text{
      /*animation: zoomIn;*/
      -webkit-animation:zoomInner .4s ease-out 0s 1 normal;
      -moz-animation:zoomInner .4s ease-out 0s 1 normal;
      -ms-animation:zoomInner .4s ease-out 0s 1 normal;
      animation:zoomInner .4s ease-out 0s 1 normal;
    }

    .text p.ptitle{
      font-size: 20px;
    }

    .gift-card-grid ul{
      padding-right: 30px;
      margin-top: 15px;
    }

    .gift-card-grid li{
      list-style-type: disc;
    }

    .gift-card-grid li a,
    .gift-card-grid li{
      color: #ddd;
      transition: .2s
    }

    .gift-card-grid li a:hover,
    .gift-card-grid li:hover{
      color: #fff;
    }

    .bottom-btn-holder{
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .ul-defualt{
      padding-right: 30px;
    }
    .ul-defualt li{
      list-style-type: disc;
    }
    .ul-defualt li a{
      /*display: block;*/
    }
    .ul-defualt li a,
    .ul-defualt li{
      color: #444;
      transition: .2s;
      line-height: 2;
    }

    .ul-defualt li a:hover{
      color: #9d0668; /*#eaade9*/
    }

    .panel-body.allgift{
    	/*padding: 0;*/
    }

    .allgift img{
      border-radius: 20px;
    }

    .allgift .row{
      padding-bottom: 20px;
    }

    .allgift>.row{
      position: relative;
      padding: 30px;
      background-color: #fcfcfc;
      box-shadow:0px 0px 5px 0px #aaaaaa ;
      -webkit-box-shadow:0px 0px 5px 0px #aaaaaa ;
      -moz-box-shadow:0px 0px 5px 0px #aaaaaa ;
      margin: 20px 0;
    }

    .allgift h2 a{
      color: #444;
    }

    .allgift>.row:nth-child(odd) {
      background: #f7f7f7;
    }

    .allgift>.row:nth-child(even) > div {
      float: left;
    }

    .allgift>.row:nth-child(even) > div.bottom-links {
      position: absolute;
      left: 52%;
      /*bottom: 40px;*/
    }

    .allgift .bottom-links{
      position: absolute;
      left: 5%;
      bottom: 40px;
    }

    .allgift .bottom-links a{
      margin: 0;
    }

    @media (max-width: 768px){
      .allgift .bottom-links-right,
      .allgift .bottom-links{
        position: relative !important;
        padding: 20px;
        left: 0% !important;
        float: left;
        bottom: -10px;
        margin: 10px;
      }
    }

    .img-holder{
      padding: 20px;
      text-align: center;
    }

    .img-holder img{
      border-radius: 20px;
      max-height: 400px;
      width: 60%;
    }

    .under-line{
      border-bottom: 1px solid #eee;
    }

    .light-green{
      font-size: 12px;
      font-weight: 200;
      color: green;
      padding-right: 10px;
    }


    .price-post-kadr{
      float: left;
      color: #4CAF50;
      line-height: 50px;
    }
    .icon-kadr{
      font-size: 32px;
      color: #607D8B;
      padding-left: 10px;
      display: inline-block;
      width: 45px;
      height: 45px;
      text-align: center;
      line-height: 45px;
    }

    .post-text-kadr{
      color: #607D8B;
      line-height: 3;
    }

    .post-text-kadr span{
      font-size: 12px;
    }

    .tabcontent{
      display: none;
      padding: 15px;

      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s; /* Fading effect takes 1 second */
    }


    @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .img-tumb{
      max-width: 100px;
      height: auto;
      vertical-align: middle;
    }

    .sum-shop{
      color: #444;
      border: 1px solid #9d0668;/*#e9c0e8*/
    }

    .sum-shop p{
      padding: 10px;
      border-bottom: 1px solid #9d0668;/*#e9c0e8*/
    }

    div.sum-shop p:last-child{
      background: #9d0668;/*#e9c0e8*/
      border-bottom: 0;
      color: #fff;
    }

    .off-shop .btn-2{
      float: left;
      margin: 0;
    }

    .off-shop input{
      width: calc(100% - 150px);
      padding: 10px;
    }

    @media (max-width: 768px){
      .off-shop input{
        width: 100% ;
        padding: 10px;
      }
    }


  /*kadoPage*/
    .diviv {
      border-bottom: 1px solid #ccc;
      margin-top: 16px;
    }

    .kado_img {
      width: 20%;
      text-align: center;
      padding: 8px;

    }
    .kado_imgiv {
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: .4s;
    }

    .kado_imgiv:hover{
      box-shadow: 0px 0px 10px 0px #ccc;
    }
    .kado_img img {
      max-width: 100%;
      border: 0;
      vertical-align: middle;
    }
    .into_basketiv {
      padding: 8px;
      text-align: left;
    }
    


    /**/
      .btn_buy {
        padding: 8px 16px;
        border: 0;
        border-radius: 5px;
        background-color: #9d0668;
        color: #fff;
        transition: all .25s ease-in-out;
      }
      .btn_buy:hover {
        opacity: .9;
        cursor: pointer;
      }
      .kado_discription p {
        margin: 25px 0;
      }
      .kado_head .bor-span-right {
        border-right: 1px solid #fff;
        padding-right: 8px;
        margin-right: 4px;
      }
      .kado_head .side_left ul li {
        display: inline;
      }
      .kado_head .side_left ul li a {
        color: #000;
        border: 1px solid #ccc;
        padding: 0 8px;
      }
      .kado_head .side_left ul li a:hover {
        background-color: #eaeaea;
      }
  /**/



      /* ‌تغییرات آقای بندانی */

    .topHeader .nav_top{
      height: 35px;
      line-height: 35px;
      background-color: #9d0668;
    }

    .topHeader .nav_top ul{
      margin:0;
      padding:0;
    }

    .topHeader .nav_top ul li{
      display: inline-block;
      padding:0 5px;
      font-size: 13px;
      color:#eee;
    }

    .topHeader .nav_top ul li a{
      color:#eee;
      text-decoration: none;
      font-size: 13px;
    }

    .topHeader .nav_top ul li a span{
      padding-right:5px;
    }

    .topHeader .nav_top ul li.date{
      float:left;
    }

    .middle_nav{
      /*height: 320px;
      background-image: url("../img/bg_menu.jpg");
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      padding:0;
      -webkit-box-shadow: inset 0px 0px 0px 20000px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px 0px 0px 20000px rgba(0,0,0,0.5);
      box-shadow: inset 0px 0px 0px 20000px rgba(0,0,0,0.5);*/
    }

    .middle_nav.index{
      height: auto;
    }

    .logo{
      margin-top:-3px;
      height: 50px;
    }

    .logo img{
      width: 110px;
    }

    .index{
      /*border-bottom:1px solid #ddd;*/
    }

    .logo a{
      padding:0;
    }

    .search_holder{
      position: relative;
      direction: ltr;
      font-size: 0;
      margin-right:25px;
    }

    .search_holder input[type="text"]{
      padding:5px 15px;
      border:0;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      min-width: 300px;
      font-size: 14px;
      text-align:right;
      direction: rtl;
    }

    .search_holder input[type="text"]:hover,
    .search_holder input[type="text"]:active,
    .search_holder input[type="text"]:focus{
      outline: 0;
    }

    .search_holder button{
      background-color: #9d0668;
      color:#000;
      padding:5px 15px;
      font-size: 14px;
      border:0;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .middle_nav>nav{
      background-color: #eee;
    }

    .middle_nav>nav a{
      color:#333;
      direction: ltr;
      transition: .4s;
    }

    .middle_nav>nav a:hover{
      color: #9d0668; /*#de99dc*/
    }

    .middle_nav>nav a i{
      padding-left:5px;
      font-size: 16px;
    }

    .middle_nav .border{
      border-color:#000;
    }

    /*bread-*/


    li.nav-links.logo img{
      max-height: 50px;
      width: auto;
    }


    .googleMapDiv{
      position: relative;
    }

    .contactus{
      position: absolute;
      top: 0;
      z-index: 1000;
    }

    .contactus .panel,
    .contactus .panel-body{
      background-color: rgba(255, 255, 255, 0.6);
    }

    .contactus-header{
      border-bottom: 2px solid #9d0668;/*#e9c0e8*/
      padding: 10px 30px;
      display: inline-block;
    }

    .contactus-header p{
      font-weight: 200;
    }

    .contactus-main address{
      padding: 30px;
      line-height: 2.4;
    }

    .contact-main{
      font-weight: 500;
    }

    .contact-main p{
      color: #9d0668;
    }



        .step_1{
      background: rgba(235,223,235,1);
      background: -moz-radial-gradient(center, ellipse cover, rgba(235,223,235,1) 0%, rgba(233,192,232,1) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(235,223,235,1)), color-stop(100%, rgba(233,192,232,1)));
      background: -webkit-radial-gradient(center, ellipse cover, rgba(235,223,235,1) 0%, rgba(233,192,232,1) 100%);
      background: -o-radial-gradient(center, ellipse cover, rgba(235,223,235,1) 0%, rgba(233,192,232,1) 100%);
      background: -ms-radial-gradient(center, ellipse cover, rgba(235,223,235,1) 0%, rgba(233,192,232,1) 100%);
      background: radial-gradient(ellipse at center, rgba(235,223,235,1) 0%, rgba(233,192,232,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebdfeb', endColorstr='#e9c0e8', GradientType=1 );
      padding:0 25px;
    }

    .step_1 ul{
      margin:0 auto;
      padding: 0;
      font-size: 0;
      list-style-type: none;
      height: 600px;
      width: 80%;
    }

    .step_1 ul li{
      display: inline-block;
      position: relative;
      width:11.11%;
    }

    .step_1 ul li a{
      color:#000;
      font-size: 13px;
      font-weight: bold;
    }

    .step_1 ul li:nth-child(1) a{
      width: 250px;
      height: 250px;
      background-image: url(../img/hearts/heart_2.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      line-height: 250px;
      text-align:center;
      color:#000;
      display: inline-block;
      position: absolute;
      top:175px;
      right: 410px;
    }

    .step_1 ul li:nth-child(1) a{
      font-size: 24px;
      font-weight: bold;
    }

    .step_1 ul li:nth-child(2) a{
      width: 175px;
      height: 175px;
      background-image: url(../img/hearts/heart_3.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      line-height: 175px;
      text-align:center;
      color:#000;
      display: inline-block;
      position: absolute;
      top:100px;
      right: 50px;
    }

    .step_1 ul li:nth-child(3) a{
      width: 150px;
      height: 150px;
      background-image: url(../img/hearts/heart_4.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      line-height: 150px;
      text-align:center;
      color:#000;
      display: inline-block;
      position: absolute;
      top:330px;
      right: -25px;
    }

    .step_1 ul li:nth-child(4) a{
      width: 140px;
      height: 140px;
      background-image: url(../img/hearts/heart_5.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      line-height: 140px;
      text-align:center;
      color:#000;
      display: inline-block;
      position: absolute;
      top:430px;
      right: 110px;
    }

    .step_1 ul li:nth-child(5) a{
      width: 120px;
      height: 120px;
      background-image: url(../img/hearts/heart_6.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      line-height: 120px;
      text-align:center;
      color:#000;
      display: inline-block;
      position: absolute;
      top:75px;
      right:-105px;
    }

    .step_1 ul li:nth-child(6) a{
      width: 100px;
      height: 100px;
      background-image: url(../img/hearts/heart_7.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      line-height: 90px;
      text-align:center;
      color:#000;
      display: inline-block;
      position: absolute;
      top:70px;
      right:-50px;
    }

    .step_1 ul li:nth-child(7) a{
      width: 90px;
      height: 90px;
      background-image: url(../img/hearts/heart_9.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      line-height: 90px;
      text-align:center;
      color:#000;
      display: inline-block;
      position: absolute;
      top:250px;
      right: 50px;
    }

    .step_1 ul li:nth-child(8) a{
      width: 85px;
      height: 85px;
      background-image: url(../img/hearts/heart_10.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      line-height: 75px;
      text-align:center;
      color:#000;
      display: inline-block;
      position: absolute;
      top:400px;
      right:-135px;
      font-size: 12px;
    }

    .step_1 ul li:nth-child(9) a{
      width: 75px;
      height: 75px;
      background-image: url(../img/hearts/heart_11.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      line-height: 75px;
      text-align:center;
      color:#000;
      display: inline-block;
      position: absolute;
      top:125px;
      right:-235px;
    }


/*
==================
*/
.comment {
  max-width: 100%;
  margin: 25px auto 0 auto;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0 20px 10px;
}
.comment_fav {
  margin: 4px;
  padding: 4px 20px;
  border-radius: 5px;
  border: 1px solid #94103e;
  background: none;
}
.comment_fav span {
  padding: 0 10px;
}
.comment_fav span:last-child {
  border-right: 1px solid #ccc;
}
.email_to_frend {
  margin: 4px;
  padding: 4px 20px;
  border-radius: 5px;
  border: 1px solid #94103e;
  background: none;
}
.email_to_frend span {
  padding: 0 10px;
}
.email_to_frend span:last-child {
  border-right: 1px solid #ccc;
}
.to_fasebook {
  margin: 4px;
  padding: 4px 20px;
  border-radius: 5px;
  border: 1px solid #1c79c0;
  background: none;
}
.to_fasebook span {
  padding: 0 10px;
}
.to_fasebook span:last-child {
  border-right: 1px solid #ccc;
}
.btn_comment_send{
  margin: 4px;
  padding: 4px 20px;
  border-radius: 5px;
  border: 1px solid #1c79c0;
  background: none;
}
.btn_comment_send span {
  padding: 0 10px;
}
.btn_comment_send span:last-child {
  border-right: 1px solid #ccc;
}
.comment_fav:hover,
.email_to_frend:hover,
.to_fasebook:hover,
.btn_comment_send:hover {
  cursor: pointer;
  opacity: .8;
}


.add_comment input,
.add_comment textarea {
  width: 100%;
}
.add_comment textarea {
  min-height: 200px;
}

.kado_photo .content {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 8px;
}
.kado_photo .content h2 {
  margin: 0;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}
.kado_photo .content p {
  text-align: right;
  padding: 8px 0;
}

.comment_list_user {
  position: relative;
}
.comment_list_user .img_user img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comment_list_user .user_name {
  display: inline;
  position: absolute;
  margin-right: 10px;
}
.comment_list_user p {
  padding: 8px 0;
}

.comment_user {
  margin: 16px 0;
}

.paper {
    position: relative;
    width: 100%;
    height: 160px;
    margin: 0 auto 20px 0;
    background: #fcfcfc;
    border-radius: 5px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.paper-content {
    position: absolute;
    top: 8px; right: 8px; bottom: 8px; left: 8px;
    background: linear-gradient(transparent, transparent 28px, #ececec 28px);
    background-size: 30px 29px;
}

.paper-content textarea {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    line-height: 30px;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: transparent;
    color: #000;
    font-size: 14px;
    box-sizing: border-box;
    z-index: 1;
}

.send_comment{
  padding: 10px 0;
}


.overlayfull {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlayfull:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url(../img/photo1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.overlayfull-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 2;
}

.overlayfull a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #aaaaaa;
    display: block;
    transition: 0.3s;
}

.overlayfull a:hover, .overlayfull a:focus {
    color: #f1f1f1;
}

.overlayfull .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 2;
}

.overlayfull-search{
  background: none;
  border: 0;
  border-bottom: 1px solid #aaa;
  line-height: 3;
  font-size: 20px;
  padding: 5px 10px 5px 30px;
  outline: 0;
  color: #aaa;
  transition: .5s;
}

.overlayfull-search:focus{
  border-color: #fafafa;
  color: #fafafa;
}

.overlayfull-search::-webkit-input-placeholder { /* Chrome */
  color: #aaa;
  transition: .5s;
}
.overlayfull-search:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
  transition: .5s;
}
.overlayfull-search::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
  opacity: 1;
  transition: .5s;
}
.overlayfull-search:-moz-placeholder { /* Firefox 4 - 18 */
  color: #aaa;
  opacity: 1;
  transition: .5s;
}

.overlayfull-search:focus::-webkit-input-placeholder { /* Chrome */
  color: #fafafa;
}
.overlayfull-search:focus:-ms-input-placeholder { /* IE 10+ */
  color: #fafafa;
}
.overlayfull-search:focus::-moz-placeholder { /* Firefox 19+ */
  color: #fafafa;
  opacity: 1;
}
.overlayfull-search:focus:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fafafa;
  opacity: 1;
}

@media screen and (max-height: 450px) {
  .overlayfull {overflow-y: auto;}
  .overlayfull a {font-size: 20px}
  .overlayfull .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/*bg-bottom-page*/

    .bg-bottom-page{
      height: 300px;
      background-color: rgba(0,0,0,.9);
      color: #dadada;
    }

    .bg-bottom-page .bg{
      width: 100%;
      height: 100%;
      background: #fff url(../img/photo2.jpg) center center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
    }

    .bg-bottom-page .bg-color{
      background-color: rgba(17, 17, 17, 0.5);
      height: 100%;
    }

    .btn_basket{
      padding: 20px 10px;
      float: left;
    }

    .relativ{
      position: relative;
    }

    .ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page{
      position: relative !important;
    }

    .ui-mobile .ui-page{
      min-height: 30px !important;
    }

    .price-max{
      position: absolute;
      top: 0;
      right: 0;
    }

    .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
      text-shadow: none;
      background-color: transparent;
    }

    .price-filter-row{
      	background-color: #f5f5f5;
	    border-radius: 5px;
	    padding: 0 20px;
	    margin-bottom: 10px;
	    box-shadow: 0px 0px 6px 0px #cccccc;
    }

    .ui-mobile label, div.ui-controlgroup-label{
      font-size: 14px;
    }

    .ui-rangeslider .ui-rangeslider-sliders{
      height: 25px;
    }

    input.ui-slider-input{
      height: 15px;
      font-weight: 500;
    }

    .ui-content{
      padding: 10px;
    }

    .upload-img2 label{
      font-size: 12px;
    }

    .description-span{
      font-size: 12px;
      color: #607D8B;
    }


/*login*/
.logincontent{
  min-height: 510px;
  background-image: url('../img/download.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 50px 1000000000000px rgba(125, 4, 83, 0.6) inset;
  -webkit-box-shadow: 0px 0px 50px 1000000000000px rgba(125, 4, 83, 0.6) inset;
  -moz-box-shadow: 0px 0px 50px 1000000000000px rgba(125, 4, 83, 0.6) inset;
}

.login-box{
  position: relative;
  background-color: #fff;
  height: 100vh;
  min-height: 510px;
  box-shadow: 0px 0px 10px -1px rgba(17, 17, 17, 0.3);
  -webkit-box-shadow: 0px 0px 10px -1px rgba(17, 17, 17, 0.3);
  -moz-box-shadow: 0px 0px 10px -1px rgba(17, 17, 17, 0.3);
}

.login-main-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 65%;
}
.login-logo{
  text-align: center;
}
.login-logo a{
  display: inline-block;
  width: 180px;
  height: 120px;
  text-align: center;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.forgot-password{
  font-size: 12px;
    padding: 10px 0;
    display: block;
    color: #9d0668;
}
.forgot-password:hover{
  color: #ca0d87;
}

.login-main-form>p{
  text-align: center;
}

.login-main-form .input-form{
  padding: 7px;
}

.login-main-form .new-accont-btn{
  padding: 20px 0;
  text-align: center;
}

.login-main-form .new-accont-btn a{
  display: block;
}

.login-main-form .login-form{
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.bottom-center-heart{
  position: absolute;
  bottom: -15px;
  right: 50%;
  transform: translateX(50%);
  color: #aaa;
  background: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
}


.commentiv.row{
  padding-top: 10px;
  text-align: left;
}


.homeIndex h2{
  padding-bottom: 10px;
}

.SignUpContent{
  min-height: 550px;
}

.signUp-box-content{
  position: relative;
  height: 100vh;
  min-height: 550px;
}

.signUp-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.signUp-rightSide{
  position: relative;
  background-color: #fff;
  height: 100vh;
  min-height: 550px;
  box-shadow: 0px 0px 10px -1px rgba(17, 17, 17, 0.3);
  -webkit-box-shadow: 0px 0px 10px -1px rgba(17, 17, 17, 0.3);
  -moz-box-shadow: 0px 0px 10px -1px rgba(17, 17, 17, 0.3);
  background-image: url(../img/download.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #9d0668;
  -webkit-box-shadow: 0px 0px 50px 10000000000px rgba(157, 6, 104, 0.7) inset;
  -moz-box-shadow: 0px 0px 50px 10000000000px rgba(157, 6, 104, 0.7) inset;
  box-shadow: 0px 0px 50px 10000000000px rgba(157, 6, 104, 0.7) inset;
}

.signUp-box .input-form{
  padding: 7px;
}

.go-to-login{
  font-size: 12px;
}

.go-to-login a{
  font-weight: 500;
  padding: 10px 0;
  color: #9d0668;
}
.go-to-login a:hover{
  color: #ca0d87;
}

.signUpTitr{
  color: #9d0668;
  line-height: 2;
  padding-right: 10px;
}

.signUp-subHeaderTitr{
  font-weight: 200;
  font-size: 14px;
  padding: 0 10px 20px 0;
}

.signUp-side-box{
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.signUp-side-text{
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

.signUp-side-text p:first-child{
  padding-bottom: 10px;
  font-weight: 500;
}

.signUp-side-text p:not(:first-child){
  font-size: 12px;
}

.signIn-left-bg{
  position: relative;
  height: 100vh;
  min-height: 510px;
}

.signInTitr{
  font-size: 36px;
}

.signIn-text{
  color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.signIn-text p{
  padding-right: 20px;
  border-right: 2px solid #eee;
  color: #eee;
  font-size: 16px;
  font-weight: 300;
}

.follow .btn-2{
  margin-top: 10px;
}


/*.step-2*/
.step-1{
  min-height: 100vh;
  height: 570px;
  background-color: pink;
  background-image: url(../img/hearts/heart_bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.step-1 .hearts{
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 50%;
  width: 150px;
  height: 150px;
  background-image: url(../img/hearts/heart_2.png);
  background-size: contain;
  background-repeat: no-repeat;
	filter: drop-shadow(7px 9px 1px rgba(157, 6, 104, 0.12));
	-webkit-filter: drop-shadow(7px 9px 1px rgba(157, 6, 104, 0.12));
}

.step-1 span.heart-text {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #FAFAFA;
  border-radius: 50%;
  height: 80%;
  padding: 28% 0px;
  font-size: 140%;
}

.step-1 span.heart-text:hover{
	-webkit-animation:swing 1s ease-out 0s 1 normal;
	-moz-animation:swing 1s ease-out 0s 1 normal;
	-ms-animation:swing 1s ease-out 0s 1 normal;
	animation:swing 1s ease-out 0s 1 normal;
}

.step-1 .heart-8 span.heart-text {
    color: #9d0668;
    top: 0;
}

li.hearts:after{
	width: 2px;
  height: 1500px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: -445px;
  right: 50%;
  z-index: -1;
}



.step-1 ul li:nth-child(1){
  top: calc(50% - 170px);
  right: calc(50% - 170px);
  width: 340px;
  height: 340px;
  background-image: url(../img/hearts/heart_01.png);
  font-size: 32px;

}
.step-1 ul li:nth-child(1):after{
	background-color: #d73a96;
  top: -1454px;
  right: 47%;
  /*right: 84px;*/
}

.step-1 ul li:nth-child(2){
  top: calc(30% - 110px);
  right: calc(27% - 110px);
  width: 220px;
  height: 220px;
  background-image: url(../img/hearts/heart_00.png);
  font-size: 22px;
}
.step-1 ul li:nth-child(2):after{
	background-color: #e27fca;
  top: -1430px;
  right: 48%;
}
.step-1 .heart-2 span.heart-text {
    top: 10%;
}


.step-1 ul li:nth-child(3){
  top: calc(65% - 100px);
  right: calc(80% - 100px);
  width: 200px;
  height: 200px;
  background-image: url(../img/hearts/heart_02.png);
  font-size: 20px;
}
.step-1 ul li:nth-child(3):after{
  background-color: #af0573;
  top: -1460px;
}

.step-1 ul li:nth-child(4){
  top: calc(80% - 75px);
  right: calc(32% - 75px);
  width: 180px;
  /*height: 180px;*/
  background-image: url(../img/hearts/heart_03.png);
  font-size: 18px;
  color: #777;
}
.step-1 ul li:nth-child(4):after{
	background-color: #f7f7f6;
  top: -1465px;
}
.step-1 ul li:nth-child(4) span.heart-text {
    color: #9d0668;
    top: -10px;
}

.step-1 ul li:nth-child(5){
  top: calc(60% - 90px);
  right: calc(15% - 90px);
  width: 180px;
  height: 180px;
  background-image: url(../img/hearts/heart_01.png);
  font-size: 18px;
}
.step-1 ul li:nth-child(5):after{
	background-color: #d73a96;
  top: -1460px;
  right: 84px;
}

.step-1 ul li:nth-child(6){
  top: calc(80% - 60px);
  right: calc(55% - 60px);
  width: 120px;
  height: 120px;
  background-image: url(../img/hearts/heart_02.png);
  font-size: 14px;
}
.step-1 ul li:nth-child(6):after{
	background-color: #e1dfe0;
  top: -1481px;
}

.step-1 ul li:nth-child(7){
  top: calc(30% - 60px);
  right: calc(70% - 60px);
  width: 120px;
  height: 120px;
  background-image: url(../img/hearts/heart_00.png);
  font-size: 14px;
}
.step-1 ul li:nth-child(7):after{
	background-color: #e27fca;
  top: -1460px;
  right: 48%;
}
.step-1 ul li:nth-child(7) span.heart-text {
    top: 10%;
}


.step-1 ul li:nth-child(8){
  top: calc(62% - 50px);
  right: calc(65% - 50px);
  width: 100px;
  height: 100px;
  background-image: url(../img/hearts/heart_04.png);
  font-size: 11px;
}
.step-1 ul li:nth-child(8):after{
	background-color: #fdfafd;
  top: -1475px;
}

.div-range-after{
	display: inline-block;
	font-size: 14px !important;
}

.div-range-after a{
	font-size: 13px !important;
  padding: 5px 15px !important;
}

.div-range-holder{
	position: relative;
	padding: 0 10px;
	display: inline-block;
  width: 40%;
  margin: 0 20px;
  vertical-align: middle;
}


span.label-form label.label-form{
  margin: 0;
}

div.input-form{
  height: 34px;
  overflow: hidden;
  padding: 1px;
}

div.input-form input[type="button"] {
  border: 0;
  padding: 4px;
  outline: 0;
  border-radius: 4px;
  background: #ccc;
  color: #fff;
  cursor: pointer;
  transition: .2s;
}

div.input-form input[type="button"]:hover{
  background: #9d0668;
}

div.input-form label{
  font-size: 12px;
  font-weight: 300;
}

/*toggle button*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  float: left;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9d0668;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media(max-width: 400px) {
  label.tab-label {
    padding: 15px;
  }
}

.no-lpad{
  padding: 0 5px 0 0px;
}

.customizetwo .panel-body .under-line .btn-1{
  padding: 4px 14px;
  margin-top: 44px;
}

.homeIndex .owl-slide-btn{
  padding: 15px 30px;
  margin-top: 30px;
}

.homeIndex .btn-2{
  margin-top: 30px;
}


.input-dsgn{
  position: absolute;
    height: 30px;
    width: 100px;
    opacity: 0;
}

