@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?32938545');
  src: url('../fonts/fontello/fontello.eot?32938545#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?32938545') format('woff2'),
       url('../fonts/fontello/fontello.woff?32938545') format('woff'),
       url('../fonts/fontello/fontello.ttf?32938545') format('truetype'),
       url('../fonts/fontello/fontello.svg?32938545#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?32938545#fontello') format('svg');
  }
}
*/
 
 /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19543417#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-database-1:before { content: '\e800'; } /* '' */
.icon-down-open-big:before { content: '\e801'; } /* '' */
.icon-database-3:before { content: '\e802'; } /* '' */
.icon-diamond:before { content: '\e803'; } /* '' */
.icon-diploma:before { content: '\e804'; } /* '' */
.icon-dislike:before { content: '\e805'; } /* '' */
.icon-dislike-1:before { content: '\e806'; } /* '' */
.icon-divide:before { content: '\e807'; } /* '' */
.icon-divide-1:before { content: '\e808'; } /* '' */
.icon-division:before { content: '\e809'; } /* '' */
.icon-document:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e80b'; } /* '' */
.icon-edit:before { content: '\e80c'; } /* '' */
.icon-left-open-big:before { content: '\e80d'; } /* '' */
.icon-eject:before { content: '\e80e'; } /* '' */
.icon-eject-1:before { content: '\e80f'; } /* '' */
.icon-right-open-big:before { content: '\e810'; } /* '' */
.icon-equal-1:before { content: '\e811'; } /* '' */
.icon-equal-2:before { content: '\e812'; } /* '' */
.icon-error:before { content: '\e813'; } /* '' */
.icon-exit:before { content: '\e814'; } /* '' */
.icon-exit-1:before { content: '\e815'; } /* '' */
.icon-exit-2:before { content: '\e816'; } /* '' */
.icon-eyeglasses:before { content: '\e817'; } /* '' */
.icon-fast-forward:before { content: '\e818'; } /* '' */
.icon-fast-forward-1:before { content: '\e819'; } /* '' */
.icon-fax:before { content: '\e81a'; } /* '' */
.icon-file:before { content: '\e81b'; } /* '' */
.icon-file-1:before { content: '\e81c'; } /* '' */
.icon-file-2:before { content: '\e81d'; } /* '' */
.icon-film:before { content: '\e81e'; } /* '' */
.icon-fingerprint:before { content: '\e81f'; } /* '' */
.icon-flag:before { content: '\e820'; } /* '' */
.icon-flag-1:before { content: '\e821'; } /* '' */
.icon-flag-2:before { content: '\e822'; } /* '' */
.icon-up-open-big:before { content: '\e823'; } /* '' */
.icon-flag-4:before { content: '\e824'; } /* '' */
.icon-focus:before { content: '\e825'; } /* '' */
.icon-folder:before { content: '\e826'; } /* '' */
.icon-folder-1:before { content: '\e827'; } /* '' */
.icon-folder-2:before { content: '\e828'; } /* '' */
.icon-folder-3:before { content: '\e829'; } /* '' */
.icon-folder-4:before { content: '\e82a'; } /* '' */
.icon-folder-5:before { content: '\e82b'; } /* '' */
.icon-folder-6:before { content: '\e82c'; } /* '' */
.icon-folder-7:before { content: '\e82d'; } /* '' */
.icon-folder-8:before { content: '\e82e'; } /* '' */
.icon-folder-9:before { content: '\e82f'; } /* '' */
.icon-folder-10:before { content: '\e830'; } /* '' */
.icon-folder-11:before { content: '\e831'; } /* '' */
.icon-folder-12:before { content: '\e832'; } /* '' */
.icon-folder-13:before { content: '\e833'; } /* '' */
.icon-folder-14:before { content: '\e834'; } /* '' */
.icon-folder-15:before { content: '\e835'; } /* '' */
.icon-folder-16:before { content: '\e836'; } /* '' */
.icon-folder-17:before { content: '\e837'; } /* '' */
.icon-folder-18:before { content: '\e838'; } /* '' */
.icon-folder-19:before { content: '\e839'; } /* '' */
.icon-forbidden:before { content: '\e83a'; } /* '' */
.icon-funnel:before { content: '\e83b'; } /* '' */
.icon-garbage:before { content: '\e83c'; } /* '' */
.icon-garbage-1:before { content: '\e83d'; } /* '' */
.icon-garbage-2:before { content: '\e83e'; } /* '' */
.icon-gift:before { content: '\e83f'; } /* '' */
.icon-help:before { content: '\e840'; } /* '' */
.icon-hide:before { content: '\e841'; } /* '' */
.icon-hold:before { content: '\e842'; } /* '' */
.icon-home:before { content: '\e843'; } /* '' */
.icon-home-1:before { content: '\e844'; } /* '' */
.icon-home-2:before { content: '\e845'; } /* '' */
.icon-hourglass:before { content: '\e846'; } /* '' */
.icon-hourglass-1:before { content: '\e847'; } /* '' */
.icon-hourglass-2:before { content: '\e848'; } /* '' */
.icon-hourglass-3:before { content: '\e849'; } /* '' */
.icon-house:before { content: '\e84a'; } /* '' */
.icon-id-card:before { content: '\e84b'; } /* '' */
.icon-id-card-1:before { content: '\e84c'; } /* '' */
.icon-id-card-2:before { content: '\e84d'; } /* '' */
.icon-id-card-3:before { content: '\e84e'; } /* '' */
.icon-id-card-4:before { content: '\e84f'; } /* '' */
.icon-id-card-5:before { content: '\e850'; } /* '' */
.icon-idea:before { content: '\e851'; } /* '' */
.icon-incoming:before { content: '\e852'; } /* '' */
.icon-infinity:before { content: '\e853'; } /* '' */
.icon-info:before { content: '\e854'; } /* '' */
.icon-internet:before { content: '\e855'; } /* '' */
.icon-key:before { content: '\e856'; } /* '' */
.icon-lamp:before { content: '\e857'; } /* '' */
.icon-layers:before { content: '\e858'; } /* '' */
.icon-layers-1:before { content: '\e859'; } /* '' */
.icon-like:before { content: '\e85a'; } /* '' */
.icon-like-1:before { content: '\e85b'; } /* '' */
.icon-like-2:before { content: '\e85c'; } /* '' */
.icon-link:before { content: '\e85d'; } /* '' */
.icon-list:before { content: '\e85e'; } /* '' */
.icon-list-1:before { content: '\e85f'; } /* '' */
.icon-lock:before { content: '\e860'; } /* '' */
.icon-lock-1:before { content: '\e861'; } /* '' */
.icon-locked:before { content: '\e862'; } /* '' */
.icon-locked-1:before { content: '\e863'; } /* '' */
.icon-locked-2:before { content: '\e864'; } /* '' */
.icon-locked-3:before { content: '\e865'; } /* '' */
.icon-locked-4:before { content: '\e866'; } /* '' */
.icon-locked-5:before { content: '\e867'; } /* '' */
.icon-locked-6:before { content: '\e868'; } /* '' */
.icon-login:before { content: '\e869'; } /* '' */
.icon-magic-wand:before { content: '\e86a'; } /* '' */
.icon-magnet:before { content: '\e86b'; } /* '' */
.icon-magnet-1:before { content: '\e86c'; } /* '' */
.icon-magnet-2:before { content: '\e86d'; } /* '' */
.icon-map:before { content: '\e86e'; } /* '' */
.icon-map-1:before { content: '\e86f'; } /* '' */
.icon-map-2:before { content: '\e870'; } /* '' */
.icon-map-location:before { content: '\e871'; } /* '' */
.icon-megaphone:before { content: '\e872'; } /* '' */
.icon-megaphone-1:before { content: '\e873'; } /* '' */
.icon-menu:before { content: '\e874'; } /* '' */
.icon-menu-1:before { content: '\e875'; } /* '' */
.icon-up-open-mini:before { content: '\e876'; } /* '' */
.icon-menu-3:before { content: '\e877'; } /* '' */
.icon-menu-4:before { content: '\e878'; } /* '' */
.icon-microphone:before { content: '\e879'; } /* '' */
.icon-microphone-1:before { content: '\e87a'; } /* '' */
.icon-minus:before { content: '\e87b'; } /* '' */
.icon-minus-1:before { content: '\e87c'; } /* '' */
.icon-more:before { content: '\e87d'; } /* '' */
.icon-more-1:before { content: '\e87e'; } /* '' */
.icon-more-2:before { content: '\e87f'; } /* '' */
.icon-right-open-mini:before { content: '\e880'; } /* '' */
.icon-multiply-1:before { content: '\e881'; } /* '' */
.icon-music-player:before { content: '\e882'; } /* '' */
.icon-music-player-1:before { content: '\e883'; } /* '' */
.icon-music-player-2:before { content: '\e884'; } /* '' */
.icon-music-player-3:before { content: '\e885'; } /* '' */
.icon-mute:before { content: '\e886'; } /* '' */
.icon-muted:before { content: '\e887'; } /* '' */
.icon-navigation:before { content: '\e888'; } /* '' */
.icon-navigation-1:before { content: '\e889'; } /* '' */
.icon-network:before { content: '\e88a'; } /* '' */
.icon-newspaper:before { content: '\e88b'; } /* '' */
.icon-next:before { content: '\e88c'; } /* '' */
.icon-note:before { content: '\e88d'; } /* '' */
.icon-notebook:before { content: '\e88e'; } /* '' */
.icon-notebook-1:before { content: '\e88f'; } /* '' */
.icon-notebook-2:before { content: '\e890'; } /* '' */
.icon-notebook-3:before { content: '\e891'; } /* '' */
.icon-notebook-4:before { content: '\e892'; } /* '' */
.icon-notebook-5:before { content: '\e893'; } /* '' */
.icon-notepad:before { content: '\e894'; } /* '' */
.icon-notepad-1:before { content: '\e895'; } /* '' */
.icon-notepad-2:before { content: '\e896'; } /* '' */
.icon-notification:before { content: '\e897'; } /* '' */
.icon-paper-plane:before { content: '\e898'; } /* '' */
.icon-paper-plane-1:before { content: '\e899'; } /* '' */
.icon-pause:before { content: '\e89a'; } /* '' */
.icon-pause-1:before { content: '\e89b'; } /* '' */
.icon-percent:before { content: '\e89c'; } /* '' */
.icon-percent-1:before { content: '\e89d'; } /* '' */
.icon-perspective:before { content: '\e89e'; } /* '' */
.icon-photo-camera:before { content: '\e89f'; } /* '' */
.icon-photo-camera-1:before { content: '\e8a0'; } /* '' */
.icon-photos:before { content: '\e8a1'; } /* '' */
.icon-picture:before { content: '\e8a2'; } /* '' */
.icon-picture-1:before { content: '\e8a3'; } /* '' */
.icon-picture-2:before { content: '\e8a4'; } /* '' */
.icon-pin:before { content: '\e8a5'; } /* '' */
.icon-placeholder:before { content: '\e8a6'; } /* '' */
.icon-placeholder-1:before { content: '\e8a7'; } /* '' */
.icon-placeholder-2:before { content: '\e8a8'; } /* '' */
.icon-placeholder-3:before { content: '\e8a9'; } /* '' */
.icon-placeholders:before { content: '\e8aa'; } /* '' */
.icon-play-button:before { content: '\e8ab'; } /* '' */
.icon-play-button-1:before { content: '\e8ac'; } /* '' */
.icon-plus:before { content: '\e8ad'; } /* '' */
.icon-power:before { content: '\e8ae'; } /* '' */
.icon-previous:before { content: '\e8af'; } /* '' */
.icon-price-tag:before { content: '\e8b0'; } /* '' */
.icon-print:before { content: '\e8b1'; } /* '' */
.icon-push-pin:before { content: '\e8b2'; } /* '' */
.icon-radar:before { content: '\e8b3'; } /* '' */
.icon-reading:before { content: '\e8b4'; } /* '' */
.icon-record:before { content: '\e8b5'; } /* '' */
.icon-repeat:before { content: '\e8b6'; } /* '' */
.icon-repeat-1:before { content: '\e8b7'; } /* '' */
.icon-restart:before { content: '\e8b8'; } /* '' */
.icon-resume:before { content: '\e8b9'; } /* '' */
.icon-rewind:before { content: '\e8ba'; } /* '' */
.icon-rewind-1:before { content: '\e8bb'; } /* '' */
.icon-route:before { content: '\e8bc'; } /* '' */
.icon-save:before { content: '\e8bd'; } /* '' */
.icon-search:before { content: '\e8be'; } /* '' */
.icon-search-1:before { content: '\e8bf'; } /* '' */
.icon-send:before { content: '\e8c0'; } /* '' */
.icon-server:before { content: '\e8c1'; } /* '' */
.icon-server-1:before { content: '\e8c2'; } /* '' */
.icon-server-2:before { content: '\e8c3'; } /* '' */
.icon-server-3:before { content: '\e8c4'; } /* '' */
.icon-settings:before { content: '\e8c5'; } /* '' */
.icon-settings-1:before { content: '\e8c6'; } /* '' */
.icon-settings-2:before { content: '\e8c7'; } /* '' */
.icon-settings-3:before { content: '\e8c8'; } /* '' */
.icon-settings-4:before { content: '\e8c9'; } /* '' */
.icon-settings-5:before { content: '\e8ca'; } /* '' */
.icon-settings-6:before { content: '\e8cb'; } /* '' */
.icon-settings-7:before { content: '\e8cc'; } /* '' */
.icon-settings-8:before { content: '\e8cd'; } /* '' */
.icon-settings-9:before { content: '\e8ce'; } /* '' */
.icon-share:before { content: '\e8cf'; } /* '' */
.icon-share-1:before { content: '\e8d0'; } /* '' */
.icon-share-2:before { content: '\e8d1'; } /* '' */
.icon-shuffle:before { content: '\e8d2'; } /* '' */
.icon-shuffle-1:before { content: '\e8d3'; } /* '' */
.icon-left-open-mini:before { content: '\e8d4'; } /* '' */
.icon-sign:before { content: '\e8d5'; } /* '' */
.icon-sign-1:before { content: '\e8d6'; } /* '' */
.icon-skip:before { content: '\e8d7'; } /* '' */
.icon-smartphone:before { content: '\e8d8'; } /* '' */
.icon-smartphone-1:before { content: '\e8d9'; } /* '' */
.icon-smartphone-2:before { content: '\e8da'; } /* '' */
.icon-smartphone-3:before { content: '\e8db'; } /* '' */
.icon-smartphone-4:before { content: '\e8dc'; } /* '' */
.icon-smartphone-5:before { content: '\e8dd'; } /* '' */
.icon-smartphone-6:before { content: '\e8de'; } /* '' */
.icon-smartphone-7:before { content: '\e8df'; } /* '' */
.icon-smartphone-8:before { content: '\e8e0'; } /* '' */
.icon-smartphone-9:before { content: '\e8e1'; } /* '' */
.icon-smartphone-10:before { content: '\e8e2'; } /* '' */
.icon-smartphone-11:before { content: '\e8e3'; } /* '' */
.icon-speaker:before { content: '\e8e4'; } /* '' */
.icon-speaker-1:before { content: '\e8e5'; } /* '' */
.icon-speaker-2:before { content: '\e8e6'; } /* '' */
.icon-speaker-3:before { content: '\e8e7'; } /* '' */
.icon-speaker-4:before { content: '\e8e8'; } /* '' */
.icon-speaker-5:before { content: '\e8e9'; } /* '' */
.icon-speaker-6:before { content: '\e8ea'; } /* '' */
.icon-speaker-7:before { content: '\e8eb'; } /* '' */
.icon-speaker-8:before { content: '\e8ec'; } /* '' */
.icon-spotlight:before { content: '\e8ed'; } /* '' */
.icon-star:before { content: '\e8ee'; } /* '' */
.icon-star-1:before { content: '\e8ef'; } /* '' */
.icon-down-open-mini:before { content: '\e8f0'; } /* '' */
.icon-stop-1:before { content: '\e8f1'; } /* '' */
.icon-stopwatch:before { content: '\e8f2'; } /* '' */
.icon-stopwatch-1:before { content: '\e8f3'; } /* '' */
.icon-stopwatch-2:before { content: '\e8f4'; } /* '' */
.icon-stopwatch-3:before { content: '\e8f5'; } /* '' */
.icon-stopwatch-4:before { content: '\e8f6'; } /* '' */
.icon-street:before { content: '\e8f7'; } /* '' */
.icon-street-1:before { content: '\e8f8'; } /* '' */
.icon-eye:before { content: '\e8f9'; } /* '' */
.icon-lock-2:before { content: '\e8fa'; } /* '' */
.icon-key-1:before { content: '\e8fb'; } /* '' */
.icon-switch:before { content: '\e8fc'; } /* '' */
.icon-switch-1:before { content: '\e8fd'; } /* '' */
.icon-switch-2:before { content: '\e8fe'; } /* '' */
.icon-switch-3:before { content: '\e8ff'; } /* '' */
.icon-switch-4:before { content: '\e900'; } /* '' */
.icon-switch-5:before { content: '\e901'; } /* '' */
.icon-switch-6:before { content: '\e902'; } /* '' */
.icon-switch-7:before { content: '\e903'; } /* '' */
.icon-tabs:before { content: '\e904'; } /* '' */
.icon-tabs-1:before { content: '\e905'; } /* '' */
.icon-target:before { content: '\e906'; } /* '' */
.icon-television-1:before { content: '\e908'; } /* '' */
.icon-time:before { content: '\e909'; } /* '' */
.icon-trash:before { content: '\e90a'; } /* '' */
.icon-umbrella:before { content: '\e90b'; } /* '' */
.icon-unlink:before { content: '\e90c'; } /* '' */
.icon-unlocked:before { content: '\e90d'; } /* '' */
.icon-unlocked-1:before { content: '\e90e'; } /* '' */
.icon-unlocked-2:before { content: '\e90f'; } /* '' */
.icon-upload:before { content: '\e910'; } /* '' */
.icon-user:before { content: '\e911'; } /* '' */
.icon-user-1:before { content: '\e912'; } /* '' */
.icon-user-2:before { content: '\e913'; } /* '' */
.icon-user-3:before { content: '\e914'; } /* '' */
.icon-user-4:before { content: '\e915'; } /* '' */
.icon-user-5:before { content: '\e916'; } /* '' */
.icon-user-6:before { content: '\e917'; } /* '' */
.icon-user-7:before { content: '\e918'; } /* '' */
.icon-users:before { content: '\e919'; } /* '' */
.icon-users-1:before { content: '\e91a'; } /* '' */
.icon-video-camera:before { content: '\e91b'; } /* '' */
.icon-video-camera-1:before { content: '\e91c'; } /* '' */
.icon-video-player:before { content: '\e91d'; } /* '' */
.icon-video-player-1:before { content: '\e91e'; } /* '' */
.icon-video-player-2:before { content: '\e91f'; } /* '' */
.icon-view:before { content: '\e920'; } /* '' */
.icon-view-1:before { content: '\e921'; } /* '' */
.icon-view-2:before { content: '\e922'; } /* '' */
.icon-volume-control:before { content: '\e923'; } /* '' */
.icon-volume-control-1:before { content: '\e924'; } /* '' */
.icon-warning:before { content: '\e925'; } /* '' */
.icon-wifi:before { content: '\e926'; } /* '' */
.icon-wifi-1:before { content: '\e927'; } /* '' */
.icon-windows:before { content: '\e928'; } /* '' */
.icon-windows-1:before { content: '\e929'; } /* '' */
.icon-windows-2:before { content: '\e92a'; } /* '' */
.icon-windows-3:before { content: '\e92b'; } /* '' */
.icon-windows-4:before { content: '\e92c'; } /* '' */
.icon-wireless-internet:before { content: '\e92d'; } /* '' */
.icon-worldwide:before { content: '\e92e'; } /* '' */
.icon-worldwide-1:before { content: '\e92f'; } /* '' */
.icon-zoom-in:before { content: '\e930'; } /* '' */
.icon-zoom-out:before { content: '\e931'; } /* '' */
.icon-add-1:before { content: '\e933'; } /* '' */
.icon-add-2:before { content: '\e934'; } /* '' */
.icon-add-3:before { content: '\e935'; } /* '' */
.icon-agenda:before { content: '\e936'; } /* '' */
.icon-alarm:before { content: '\e937'; } /* '' */
.icon-alarm-1:before { content: '\e938'; } /* '' */
.icon-alarm-clock:before { content: '\e939'; } /* '' */
.icon-alarm-clock-1:before { content: '\e93a'; } /* '' */
.icon-albums:before { content: '\e93b'; } /* '' */
.icon-app:before { content: '\e93c'; } /* '' */
.icon-archive:before { content: '\e93d'; } /* '' */
.icon-archive-1:before { content: '\e93e'; } /* '' */
.icon-archive-2:before { content: '\e93f'; } /* '' */
.icon-archive-3:before { content: '\e940'; } /* '' */
.icon-attachment:before { content: '\e941'; } /* '' */
.icon-back:before { content: '\e942'; } /* '' */
.icon-battery:before { content: '\e943'; } /* '' */
.icon-battery-1:before { content: '\e944'; } /* '' */
.icon-battery-2:before { content: '\e945'; } /* '' */
.icon-battery-3:before { content: '\e946'; } /* '' */
.icon-battery-4:before { content: '\e947'; } /* '' */
.icon-battery-5:before { content: '\e948'; } /* '' */
.icon-battery-6:before { content: '\e949'; } /* '' */
.icon-battery-7:before { content: '\e94a'; } /* '' */
.icon-battery-8:before { content: '\e94b'; } /* '' */
.icon-battery-9:before { content: '\e94c'; } /* '' */
.icon-binoculars:before { content: '\e94d'; } /* '' */
.icon-blueprint:before { content: '\e94e'; } /* '' */
.icon-bluetooth:before { content: '\e94f'; } /* '' */
.icon-bluetooth-1:before { content: '\e950'; } /* '' */
.icon-bookmark:before { content: '\e951'; } /* '' */
.icon-bookmark-1:before { content: '\e952'; } /* '' */
.icon-briefcase:before { content: '\e953'; } /* '' */
.icon-broken-link:before { content: '\e954'; } /* '' */
.icon-calculator:before { content: '\e955'; } /* '' */
.icon-calculator-1:before { content: '\e956'; } /* '' */
.icon-calendar:before { content: '\e957'; } /* '' */
.icon-calendar-1:before { content: '\e958'; } /* '' */
.icon-calendar-2:before { content: '\e959'; } /* '' */
.icon-calendar-3:before { content: '\e95a'; } /* '' */
.icon-calendar-4:before { content: '\e95b'; } /* '' */
.icon-calendar-5:before { content: '\e95c'; } /* '' */
.icon-calendar-6:before { content: '\e95d'; } /* '' */
.icon-calendar-7:before { content: '\e95e'; } /* '' */
.icon-checked:before { content: '\e95f'; } /* '' */
.icon-checked-1:before { content: '\e960'; } /* '' */
.icon-clock:before { content: '\e961'; } /* '' */
.icon-clock-1:before { content: '\e962'; } /* '' */
.icon-close:before { content: '\e963'; } /* '' */
.icon-cloud:before { content: '\e964'; } /* '' */
.icon-cloud-computing:before { content: '\e965'; } /* '' */
.icon-cloud-computing-1:before { content: '\e966'; } /* '' */
.icon-cloud-computing-2:before { content: '\e967'; } /* '' */
.icon-cloud-computing-3:before { content: '\e968'; } /* '' */
.icon-cloud-computing-4:before { content: '\e969'; } /* '' */
.icon-cloud-computing-5:before { content: '\e96a'; } /* '' */
.icon-command:before { content: '\e96b'; } /* '' */
.icon-compact-disc:before { content: '\e96c'; } /* '' */
.icon-compact-disc-1:before { content: '\e96d'; } /* '' */
.icon-compact-disc-2:before { content: '\e96e'; } /* '' */
.icon-compass:before { content: '\e96f'; } /* '' */
.icon-compose:before { content: '\e970'; } /* '' */
.icon-controls:before { content: '\e971'; } /* '' */
.icon-controls-1:before { content: '\e972'; } /* '' */
.icon-controls-2:before { content: '\e973'; } /* '' */
.icon-controls-3:before { content: '\e974'; } /* '' */
.icon-controls-4:before { content: '\e975'; } /* '' */
.icon-controls-5:before { content: '\e976'; } /* '' */
.icon-controls-6:before { content: '\e977'; } /* '' */
.icon-controls-7:before { content: '\e978'; } /* '' */
.icon-controls-8:before { content: '\e979'; } /* '' */
.icon-controls-9:before { content: '\e97a'; } /* '' */
.icon-database:before { content: '\e97b'; } /* '' */