

*{
  box-sizing: border-box;
  direction: rtl;
}

html {
  width:100%;
  height: 100%;
}

.tbl_article img{
    width:100px;
}

body,html,.input-form, .btn , input, textarea{
  font-family: IRANSans, 'Iransans', Tahoma, Arial !important;
  /*font-size: 100%;*/
  margin:0;
  padding:0;
  background-color: #eaeaea;
  overflow-x:hidden;
}

p{
  margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
 
::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 2px 0px #888 inset;
    -moz-box-shadow:0px 0px 2px 0px #888 inset;
    box-shadow:0px 0px 2px 0px #888 inset;
}
 
::-webkit-scrollbar-thumb {
    background-color: #afb7d0;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 2px 0px #666 inset;
    -moz-box-shadow:0px 0px 2px 0px #666 inset;
    box-shadow:0px 0px 2px 0px #666 inset;
}

a{
  text-decoration: none;
}

a:hover{
}

ul,li{
  list-style-type: none;
}

/* === colors ====*/
.bg-top-header{
  background-color: #00ACC1;
}
.bg-light-grey{
  background-color: #eee;
}
.bg-orange{
  background-color: orange;
}
.dark-gray{
  color: #404040 !important;
}

/* === header ===*/

header.topHeader{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: #eee;
  font-size: 14px;
  line-height: 50px;
}
.topHeader a{
  /*display: block;*/
  color: #eee;
}

header.topHeader,
.topHeader .logo img,
.topHeader .logo a,
.topHeader .logo,
.topHeader .sidebar-btn button{
  height: 50px;
  display: block;
}

.topHeader .sidebar-btn,
.topHeader .logo,
.topHeader .navbar{
  float: right;
  cursor: pointer;
}

.topHeader .sidebar-btn button{
  border: 0;
  width: 50px;
  font-size: 24px;
  cursor: pointer;
}

.topHeader .logo img{
  margin: 0 10px;
}

.topHeader .navbar ul{
  margin: 0;
  padding: 0;
}
.topHeader .navbar ul li{
  /*display: inline-block;*/
  padding-right: 10px;
}

.topHeader .navbar ul li a{
  display: block;
  transition: all .4s;
}

.topHeader .navbar ul li a:hover{
  color: orange;
}

  /* Style The Dropdown Button */
  .dropbtn {
      color: white;
      border: none;
      cursor: pointer;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      transition: all .1s;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      line-height: 2;

  }

  .dropdown-content a:hover {
    background-color: #eee;
    color: #111;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown:hover .dropbtn {
  }


/**/

/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}
 
/*----- Menu -----*/
 
.menu ul {
    display:inline-block;
}
 
.menu li {
    /*margin:0px 50px 0px 0px;*/
    float:right;
    list-style:none;
    /*font-size:17px;*/
}
 
.menu li:last-child {
    margin-right:0px;
}
 
.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    /*color:#777;*/
    transition:color linear 0.15s;
}
 
.menu a:hover, .menu .current-item a {
    text-decoration:none;
    /*color:#66a992;*/
}
 
/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}
 
@media screen and (max-width: 970px) {
    .search-form input {
        width:120px;
    }
}
 
@media screen and (max-width: 860px) {
    .menu {
        /*position:relative;*/
        display:inline-block;
    }
 
    .menu ul.active {
        display:none;
    }
 
    .menu ul {
        max-width: 200px;
        width:100%;
        position:absolute;
        top:120%;
        left:0px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }
 
    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:22px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }
 
    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }
 
    .menu a {
        display:block;
    }
 
    .toggle-nav {
        padding:0 15px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        /*border-radius:3px;*/
        background: #ffa500;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#333 !important;
        font-size:20px;
        transition:color linear 0.15s;
        position: absolute;
        left: 0;
    }
 
    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }
 
    .search-form {
        margin:12px 0px 0px 20px;
        float:left;
    }
 
    .search-form input {
        box-shadow:-1px 1px 2px rgba(0,0,0,0.1);
    }
}


/* === sidebar === */
.sidebar,.content{
  margin-top: 50px;
}

.animate-right{
  position:relative;
  animation:animateright 0.4s;
}
  @keyframes animateright{
      from{
        right:-300px;
        opacity:0;} 
      to{
        right:0;
        opacity:1;}
  }

.sidebar{
  height:100%;
  position:fixed!important;
  z-index:999;
  overflow:auto;
  text-align: right;
  font-size: 14px;
  line-height: 2;
  background-color: #ddd;
  width:50px;
  right:0;
  -webkit-box-shadow:0px 0px 7px 0px #c4c4c4 ;
  -moz-box-shadow:0px 0px 7px 0px #c4c4c4 ;
  box-shadow:0px 0px 7px 0px #c4c4c4 ;
  border-left: 1px solid #ccc;
  padding-bottom:50px;
}

.sidebar ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}
.img-tumb{
    max-width: 100px;
    height: auto;
    vertical-align: middle;
}
.sidebar ul li {
  position: relative;
  display: block;
}
.sidebar ul li a {
  display: block;
  text-decoration: none;
  position: relative;
  padding-right: 14px;
  transition: all .2s;
  color: #111;
  overflow: hidden;
  max-height: 50px;
  line-height: 50px;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus {
  background-color: #ccc;
  padding-right: 20px
}

.sidebar ul li ul li a {
  padding-right: 30px;
}
.sidebar ul li ul li a:hover,
.sidebar ul li ul li a:focus {
  padding-right: 35px;
}
.sidebar ul li ul li ul li a {
  padding-right: 40px;
}
.sidebar ul li ul li ul li a:hover,
.sidebar ul li ul li ul li a:focus {
  padding-right: 45px;
}
.sidebar ul li a span{
  font-size: 18px;
  color: #000;
}
.sidebar ul li a span.SidebarTxt{
  font-size: 14px;
}

span.icon-down-dir{
  font-size: 12px !important;
}

/* === main ==== */

.content{
  padding-top: 30px;
  margin-right: 50px;
  transition: all .2s;
}

.container{
  padding: 0 30px;
}

.container h2{
  font-size: 18px;
  color: #444;
  font-weight: 500;
  padding-bottom: 20px;
}


.row:after,.row:before{
  clear: both;
  content: " ";
  display: table;
}

 @media (min-width: 970px) {

    .col-md-offset-1{
      margin-right: 8.333333%;
    }
    .col-md-offset-2{
      margin-right: 16.666666%;
    }
    .col-md-3{
      width: 25%;
      float: right;
    }
    .col-md-offset-3{
      margin-right: 25%;
    }
    .col-md-4{
      width: 33.333333%;
      float: right;
    }
    .col-md-offset-4{
      margin-right: 33.333333%;
    }
    .col-md-6{
      width: 50%;
      float: right;
    }
    .col-md-8{
      width: 66.666666%;
      float: right;
    }
    .col-md-9{
      width: 75%;
      float: right;
    }
    .col-md-12{
      width: 100%;
      float: right;
      overflow: auto;
    }

 }

 @media (max-width: 969px) {

    .col-sm-offset-1{
      margin-right: 8.333333%;
    }
    .col-sm-offset-2{
      margin-right: 16.666666%;
    }
    .col-sm-3{
      width: 25%;
      float: right;
    }
    .col-sm-offset-3{
      margin-right: 25%;
    }
    .col-sm-4{
      width: 33.333333%;
      float: right;
    }
    .col-sm-offset-4{
      margin-right: 33.333333%;
    }
    .col-sm-6{
      width: 50%;
      float: right;
    }
    .col-sm-8{
      width: 66.666666%;
      float: right;
    }
    .col-sm-9{
      width: 75%;
      float: right;
    }
    .col-sm-12{
      width: 100%;
      float: right;
      overflow: auto;
    }

 }

 @media (max-width: 768px) {

    .col-xs-offset-1{
      margin-right: 8.333333%;
    }
    .col-xs-offset-2{
      margin-right: 16.666666%;
    }
    .col-xs-3{
      width: 25%;
      float: right;
    }
    .col-xs-offset-3{
      margin-right: 25%;
    }
    .col-xs-4{
      width: 33.333333%;
      float: right;
    }
    .col-xs-offset-4{
      margin-right: 33.333333%;
    }
    .col-xs-6{
      width: 50%;
      float: right;
    }
    .col-xs-8{
      width: 66.666666%;
      float: right;
    }
    .col-xs-9{
      width: 75%;
      float: right;
    }
    .col-xs-12{
      width: 100%;
      float: right;
      overflow: auto;
    }

 }

 @media (max-width: 550px) {

    .col-xxs-offset-1{
      margin-right: 8.333333%;
    }
    .col-xxs-offset-2{
      margin-right: 16.666666%;
    }
    .col-xxs-3{
      width: 25%;
      float: right;
    }
    .col-xxs-offset-3{
      margin-right: 25%;
    }
    .col-xxs-4{
      width: 33.333333%;
      float: right;
    }
    .col-xxs-offset-4{
      margin-right: 33.333333%;
    }
    .col-xxs-6{
      width: 50%;
      float: right;
    }
    .col-xxs-8{
      width: 66.666666%;
      float: right;
    }
    .col-xxs-9{
      width: 75%;
      float: right;
    }
    .col-xxs-12{
      width: 100%;
      float: right;
      overflow: auto;
    }

 }



.center{text-align: center !important;}
.no-float{float: none !important;}
.R-float{float: right;}
.L-float{float: left;}
.wide{width: 100% !important;}
.half{width: 48% !important;}
.inline{display: inline-block !important;}
.block{display: block !important;}
.h-padding{
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.v-padding{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.h-margin{
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.v-margin{
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.img-responsive{
  width: 100%;
}
.margin-o{
  margin: 0;
}
.bold{
  font-weight: bold !important;
}
.round{
  border-radius: 5px;
}


.t-span{
  background-color: #55647c;
  color: #eee;
  border-radius: 3px;
}

.panel{
  margin: 0 auto;
  background-color: #eee;
  min-height: 100px;
  padding: 0 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow:0px 0px 5px 1px #cccccc ;
  -moz-box-shadow:0px 0px 5px 1px #cccccc ;
  box-shadow:0px 0px 5px 1px #cccccc ;
}
.panel-header{
  border-bottom:  1px solid #ddd;
  min-height: 50px;
  padding:10px 0;
  font-size: 16px;
}
.panel-body{
  padding:10px 0;
  font-size: 14px;
}
.label-form{
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-bottom: 5px;
}
.panel-footer{
  border-top:  1px solid #ddd;
  min-height: 50px;
  padding:10px 0;
  font-size: 16px;
}
.input-form , .textarea-form{
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 3px 10px;
  transition: all .4s;
  display: block;
  margin-bottom: 14px;
}
.input-form:focus,.textarea-form:focus{
  outline: none;
  border: 1px solid #87b4d8;
  -webkit-box-shadow:0px 0px 9px 0px #bdd9f9 ;
  -moz-box-shadow:0px 0px 9px 0px #bdd9f9 ;
  box-shadow:0px 0px 9px 0px #bdd9f9 ;
}

.btn{
  font-size: 14px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 5px 15px;
  -webkit-box-shadow:0px 0px 5px 0px #bbb ;
  -moz-box-shadow:0px 0px 5px 0px #bbb ;
  box-shadow:0px 0px 5px 0px #bbb ;
  cursor: pointer;
  /*color: #333;*/
  margin: 5px;
}
.btn-defult{
  border: 1px solid #aaa;
  transition: all .2s;
}
.defult-btn:hover,
.defult-btn:focus{
  border: 1px solid #87b4d8;
  -webkit-box-shadow:0px 0px 10px -1px #87b4d8 ;
  -moz-box-shadow:0px 0px 10px -1px #87b4d8 ;
  box-shadow:0px 0px 10px -1px #87b4d8 ;
}

.btn-small{
  padding: 5px 10px;
  font-size: 12px;
}

.btn-orange {
  background: #ffa536;
  background-image: -webkit-linear-gradient(top, #ffa536, #ff6f00);
  background-image: -moz-linear-gradient(top, #ffa536, #ff6f00);
  background-image: -ms-linear-gradient(top, #ffa536, #ff6f00);
  background-image: -o-linear-gradient(top, #ffa536, #ff6f00);
  background-image: linear-gradient(to bottom, #ffa536, #ff6f00);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #aaa;
  -moz-box-shadow: 0px 1px 3px #aaa;
  box-shadow: 0px 1px 3px #aaa;
  color: #ffffff;
}

.btn-orange:hover,
.btn-orange:focus {
  background: #ffa333;
  background-image: -webkit-linear-gradient(top, #ffa333, #f06400);
  background-image: -moz-linear-gradient(top, #ffa333, #f06400);
  background-image: -ms-linear-gradient(top, #ffa333, #f06400);
  background-image: -o-linear-gradient(top, #ffa333, #f06400);
  background-image: linear-gradient(to bottom, #ffa333, #f06400);
}

.btn-blue {
  background: #69c3ff;
  background-image: -webkit-linear-gradient(top, #69c3ff, #2facfa);
  background-image: -moz-linear-gradient(top, #69c3ff, #2facfa);
  background-image: -ms-linear-gradient(top, #69c3ff, #2facfa);
  background-image: -o-linear-gradient(top, #69c3ff, #2facfa);
  background-image: linear-gradient(to bottom, #69c3ff, #2facfa);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px #aaa;
  -moz-box-shadow: 0px 1px 3px #aaa;
  box-shadow: 0px 1px 3px #aaa;
  color: #ffffff;
}

.btn-blue:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.btn-red {
  background: #ff5e5e;
  background-image: -webkit-linear-gradient(top, #ff5e5e, #d62f2f);
  background-image: -moz-linear-gradient(top, #ff5e5e, #d62f2f);
  background-image: -ms-linear-gradient(top, #ff5e5e, #d62f2f);
  background-image: -o-linear-gradient(top, #ff5e5e, #d62f2f);
  background-image: linear-gradient(to bottom, #ff5e5e, #d62f2f);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px #aaa;
  -moz-box-shadow: 0px 1px 3px #aaa;
  box-shadow: 0px 1px 3px #aaa;
  color: #ffffff;
}

.btn-red:hover {
  background: #ff5252;
  background-image: -webkit-linear-gradient(top, #ff5252, #d62727);
  background-image: -moz-linear-gradient(top, #ff5252, #d62727);
  background-image: -ms-linear-gradient(top, #ff5252, #d62727);
  background-image: -o-linear-gradient(top, #ff5252, #d62727);
  background-image: linear-gradient(to bottom, #ff5252, #d62727);
}

.btn-green {
  background: #52eb76;
  background-image: -webkit-linear-gradient(top, #52eb76, #42b84a);
  background-image: -moz-linear-gradient(top, #52eb76, #42b84a);
  background-image: -ms-linear-gradient(top, #52eb76, #42b84a);
  background-image: -o-linear-gradient(top, #52eb76, #42b84a);
  background-image: linear-gradient(to bottom, #52eb76, #42b84a);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
}

.btn-green:hover {
  background: #33e85d;
  background-image: -webkit-linear-gradient(top, #33e85d, #30ba39);
  background-image: -moz-linear-gradient(top, #33e85d, #30ba39);
  background-image: -ms-linear-gradient(top, #33e85d, #30ba39);
  background-image: -o-linear-gradient(top, #33e85d, #30ba39);
  background-image: linear-gradient(to bottom, #33e85d, #30ba39);
}


table {
    width:100%;
}
table, th, td {
    border-collapse: collapse;
    text-align: right;
}
th, td {
    padding: 7px;
    font-size: 14px;
}
table.table-defult tr:nth-child(even) {
    background-color: #eee;
}
table.table-defult tr:nth-child(odd) {
   background-color:#f5f5f5;
}
table.table-defult th {
    background-color: #eee;
}
table.table-defult thead.dark-blue th {
    background-color: #3A539B;
    color: white;
    font-size: 14px;
}
.exhibition th,.exhibition td {
    border: 1px solid #eee;
}
.table-style{
  -webkit-box-shadow:0px 0px 10px 4px #dddddd ;
  -moz-box-shadow:0px 0px 10px 4px #dddddd ;
  box-shadow:0px 0px 10px 4px #dddddd ;
  border-radius: 4px;
}


/*Modal*/

  .modal-box {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 98%;
    background: #f1f1f1;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
  }

  .modal-box header,
  .modal-box .modal-header {
    padding: .7em 1.5em;
    border-bottom: 1px solid #ddd;
  }

  .modal-box header h3,
  .modal-box header h4,
  .modal-box .modal-header h3,
  .modal-box .modal-header h4 { margin: 0; }

  .modal-box .modal-body { 
    padding: .5em 1.5em;
    max-height: 400px;
    overflow: auto;
  }

  .modal-box footer,
  .modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    text-align: right;
  }

  .modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
  }

  a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: -3%;
    right: -1.5%;
    text-decoration: none;
    color: #bbb;
    width: 25px;
    height: 25px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    background-color: #111;
  }

  a.close:hover {
    color: #fff;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
  }

  @media (min-width: 32em) {
    .modal-box { width: 70%; }
  }

  .edit-icon,.colse-icon{
    color: #3A539B;
  }


/*user_dashboard*/


  .carlist-panel .panel-body{
    max-height: 220px;
    overflow: auto;
  }
  .carlist-panel .item-list{
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  .sub-text{
    font-size: 11px;
    font-weight: 300;
    line-height: 2;
  }

  span.L-pad{
    padding-left: 10px;
  }

  .increase{
    color: green;
  }
  .decrease{
    color: red;
  }

  .car-title{
    line-height: 2;
    padding: 7.5px 0;
  }

/*edit_information*/

/*acordion*/
  .accordion.info {
      -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
      -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
      box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
      /*font-family: Arial, Helvetica, sans-serif;*/
      border-color: #484f52;
      border-style: solid;
      border-width: 0px;
      border-radius: 8px;
      margin: 0 auto;
      /*height: 454px;*/
      width: 100%;
  }

  .accordion.info > ul > li,
  .info .accordion-title,
  .info .accordion-content,
  .info .accordion-separator {
      float: none;
  }

  .accordion.info > ul > li {
      background-color: #528fcc;
      margin-right: -0px;
      margin-bottom: -290px;
  }

  .info .accordion-select:checked ~ .accordion-separator {
      margin-right: 0px;
      margin-bottom: 290px;
  }

  .info .accordion-title,
  .info .accordion-select  {
      background-color: #79bcff;
      color: #ffffff;
      width: 100%;
      height: 40px;
      /*font-size: 15px;*/
  }

  .info .accordion-title span {
      margin-bottom: 20px; 
      margin-left: 20px;
  }

  .info .accordion-select:hover ~ .accordion-title,
  .info .accordion-select:checked ~ .accordion-title {
      background-color: #378ee5;
  }

  .info .accordion-title span  {  
      transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -ms-writing-mode: lr-tb;
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
      margin-bottom: 0px;
      line-height: 40px;
  }

  .info .accordion-content {
    box-sizing: content-box;
      background-color: #ffffff;
      color: #484f52;
      height: 250px;
      /*width: 644px;*/
      padding: 28px;
  }

  .info .accordion-title,
  .info .accordion-select:checked ~ .accordion-content {
      margin-right: 1px;
      margin-bottom: 1px;
  }

  /* Do not change following properties, they aren't 
  generated automatically and are common for each slider. */
  .accordion {
      overflow: hidden;
  }

  .accordion > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 101%;
  }

  .accordion > ul > li,
  .accordion-title {
      position: relative;
  }

  .accordion-select {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 1;
  }

  .accordion-title span {
      display: block;
      position: absolute;
      bottom: 0px;
      width: 100%;
      white-space: nowrap;
  }

  .accordion-content {
      position: relative;
      overflow: auto;
  }

  .accordion-separator {
      transition: margin 0.3s ease 0.1s;
      -o-transition: margin 0.3s ease 0.1s;
      -moz-transition: margin 0.3s ease 0.1s;
      -webkit-transition: margin 0.3s ease 0.1s;
  }

  .info .accordion-content.first{
  }

/* ========================= */
.p-car-subtitle{
  font-weight: 500;
}
.car-subtitle-name{
  margin-bottom: 5px;
}
.padding-o{
  padding: 0;
}

.factor li{
  margin-bottom: 5px;
  line-height: 2;
}

.factor span{
  background-color: #607D8B;
  color: #eee;
  border-radius: 3px;
  margin: 0 2.5px 0 0;
  color:#fff;
  padding:2px 10px;
  font-size: 11px;
  font-weight: bold;
}

.cell p{
  line-height: 2.5;
  font-size: 11px;
}

.cell span{
  padding: 0 10px;
}

.parking .panel-body p:last-child{
  font-size: 12px;
  font-weight: 300;

}

.parking .panel-header img{
  border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
}

.parking .panel-header{
  min-height: 150px;
  max-height: 200px;
  background: url(../../uploads/Advertising/1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.col-md-3.col-sm-4.col-xs-6.col-xxs-12.cell,
.col-md-12.col-sm-12.col-xs-12.col-xxs-12.cell{
  padding: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #ddd;
}

.exhibition .panel-body p{
        display: inline-block;
        vertical-align: top;
        margin:7.5px 2.5px;
        font-size: 11px;
      }
.exhibition .panel-body p span:last-child{
        background-color: #607D8B;
        color: #eee;
        border-radius: 3px;
        margin: 0 2.5px 0 0;
        color:#fff;
        padding:2px 10px;
        font-size: 11px;
        font-weight: bold;
      }
.exhibition .pic-Ad-panel{
  padding-top: 20px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
.exhibition .pic-Ad-panel img{
  border-radius: 2px;
  padding: 3px;
  border: 2px solid #cccccc;
  -webkit-box-shadow:0px 0px 10px 2px #aaaaaa ;
  -moz-box-shadow:0px 0px 10px 2px #aaaaaa ;
  box-shadow:0px 0px 10px 2px #aaaaaa ;
}



/*-------*/
/*tab items*/
.tabcontent {
  display: none;
  border-top: 1px solid #ddd;
  background-color: #eee;
  min-height: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px #cccccc;
  -moz-box-shadow: 0px 0px 5px 1px #cccccc;
  box-shadow: 0px 0px 5px 1px #cccccc;
  padding: 20px;
  font-size: 14px;
  color: rgba(85, 85, 89, 0);
  position: relative;
  z-index: 9;
  -webkit-animation: fadeEffect .5s;
  animation: fadeEffect .5s; /* Fading effect takes 1 second */
  overflow-x: auto;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

input.tab-input {
  display: none;
}

label.tab-label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 12px 16px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  font-size: 12px;
  background-color: #ddd;
  position: relative;
  z-index: 10;
}

label.tab-label:hover {
  color: #888;
  cursor: pointer;
}

table.table-defult , .table-defult td,.table-defult th{
    text-align: center !important;
}

input.tab-input:checked + label.tab-label {
  color: #555;
  border: 2px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #eee;
  background-color: #eee;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  color: rgba(85, 85, 89, 1);
}

@media(max-width: 650px) {
  label.tab-label {
    font-size: 0;
  }
  label.tab-label:before {
    margin: 0;
    font-size: 18px;
  }
}


/*toggle button*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  float: left;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media(max-width: 400px) {
  label.tab-label {
    padding: 15px;
  }
}


.dropdown{
  position: relative;
}

.dropdown::before{
  content:"\e801";
  position: absolute;
  left:15px;
  top:17.5px;
  font-family: "fontello";
  z-index: 1000000;
}

.closed .dropdown::before{
  content:"";
}

.dropdown ul{
  background:#ccc;
  padding-right:25px !important;
  display: none;
}

.closed .dropdown ul{
  position: absolute;
  right:50px;
  top:0;
  min-width: 175px;
}

.closed .dropdown:hover ul{
  display: block;
}

.closed .dropdown ul a{
  font-size: 12px;
}

.sidebar.closed{
  overflow: visible;
}

.closed .dropdown ul{
  padding-right:0 !important;
}




/*====================================================*/
.square-style-type li{
  list-style-type: square;
}

.dashboard-main-icon{
  float: left;
  width: 60px;
  height: 60px;
  background: #ddd;
  line-height: 70px;
  text-align: center;
  font-size: 32px;
}

.padclass{
  padding: 10px;
}

.ul-inline li{
  display: inline-block !important;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.icons-nav li a{
  padding-left: 14px;
}

.fast.sidebar ul li a {
  line-height: 45px;
}

.a-list li a{
  color: #333;
  transition: .2s;
}

.a-list li a:hover{
  color: #3f51b5;
}

.sidebar ul li a .fa{
  font-size: 18px !important;
  padding-left: 5px !important;
  color: #333;
}

.dashboard_holder{
    background-color:#fff;
    border:1px solid #ccc;
    padding:15px;
    border-radius:5px;
    text-lign:right;
    direction: rtl;
    font-size: 0;
}

.dashboard_holder .box_data{
    width: 23%;
    margin:5px 1%;
    border:1px solid #ccc;
    border-radius:5px;
    display: inline-block;
    text-align:center;
    color:#fff;
    padding:25px 0;
}

.dashboard_holder .box_data span{
    font-size: 48px;
}

.dashboard_holder .box_data h2{
    margin:10px 0 0 0;
    color:#fff;
    font-size: 14px;
}

.dashboard_holder .box_data:nth-child(1) {
    background-color:#D91E18;
}

.dashboard_holder .box_data:nth-child(2) {
    background-color:#446CB3;
}

.dashboard_holder .box_data:nth-child(3) {
    background-color:#26A65B;
}

.dashboard_holder .box_data:nth-child(4) {
    background-color:#E87E04;
}

.img-profile-nav{
    background-size: cover;
    background-position: center center;
    min-height: 250px;
}

.select-all-bg{
    margin-bottom: 10px;
    background: #ddd;
    border-radius: 10px;
}